{% extends "new_base.html" %}
{% load static %}
{% block title %}Password Change Complete{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-container">
            <div class="position-relative">
                <img id="login-image" src="{% static 'images/purple-background.png' %}">
                <div class="position-absolute" id="welcome-message">
                    <div class="logo mb-3" id="logo-container" href="{% url 'index' %}">
                        <img src="{% static "images/logo.png" %}" alt="Healthcare Auctions Logo">
                        <div id="logo-text">
                            <div>Healthcare</div>
                            <div>Auctions</div>
                        </div>
                    </div>
                    <div class="display-3 mb-3">All Set!!</div>
                    <p>You can now login to Healthcare Auctions</p>
                </div>
            </div>
            <div class='card' id="login-card">
                <div class="card-header">
                    <h2 class='mt-1'>Password Reset Complete</h2>
                </div>
                <div class='card-body'>

                    <p>Your password has been set. You can now log in with your new password.</p>
                    <a href="{% url 'login' %}">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <link href='{% static "css/index.css" %}' rel='stylesheet'>
{% endblock %}