{% extends "new_base.html" %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <div class="container d-flex flex-column align-items-center">
        <h2 class="mb-3 pb-3 border-bottom">Change your password</h2>
        <form class="align-items-start" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="align-items-center">
                <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock %}
