{% extends "new_base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <div class="container">
        <div class="login-container">
            <div class="position-relative">
                <img id="login-image" src="{% static 'images/purple-background.png' %}">
                <div class="position-absolute" id="welcome-message">
                    <div class="logo mb-3" id="logo-container" href="{% url 'index' %}">
                        <img src="{% static "images/logo.png" %}" alt="Healthcare Auctions Logo">
                        <div id="logo-text">
                            <div>Healthcare</div>
                            <div>Auctions</div>
                        </div>
                    </div>
                    <div class="display-3 mb-3">Let's Get Your Password Changed</div>
                    <p>Enter your new password to login to Healthcare Auctions</p>
                </div>
            </div>
            <div class='card' id="login-card">
                <div class="card-header">
                    <h2 class='mt-1'>Reset Your Password</h2>
                </div>
                <div class='card-body'>

                    <p>Please enter a new password below.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Set New Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <link href='{% static "css/index.css" %}' rel='stylesheet'>
{% endblock %}