{% extends "new_base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-container">
            <div class="position-relative">
                <img id="login-image" src="{% static 'images/purple-background.png' %}">
                <div class="position-absolute" id="welcome-message">
                    <div class="logo mb-3" id="logo-container" href="{% url 'index' %}">
                        <img src="{% static "images/logo.png" %}" alt="Healthcare Auctions Logo">
                        <div id="logo-text">
                            <div>Healthcare</div>
                            <div>Auctions</div>
                        </div>
                    </div>
                    <div class="display-3 mb-3">Let's Change Your Password</div>
                    <p>Enter your email address to get started</p>
                </div>
            </div>
            <div class='card' id="login-card">
                <div class='card-body d-flex flex-column gap-3 align-items-center justify-content-center'>
                    <h2 class='mt-1 text-center'>Enter Your Email Address Below</h2>
                    <div class="">
                        <form class="d-flex gap-3 flex-column align-items-center" method="post">
                            {% csrf_token %}
                            {{ form.as_div }}

                            <button class="btn btn-primary" type="submit">Change Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href='{% static "css/index.css" %}' rel='stylesheet'>
{% endblock %}
