{% extends "new_base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}


{% block body %}
    <div class="container">
        <div class="login-container">
            <div class="position-relative">
                <img id="login-image" src="{% static 'images/purple-background.png' %}">
                <div class="position-absolute" id="welcome-message">
                    <div class="logo mb-3" id="logo-container" href="{% url 'index' %}">
                        <img src="{% static "images/logo.png" %}" alt="Healthcare Auctions Logo">
                        <div id="logo-text">
                            <div>Healthcare</div>
                            <div>Auctions</div>
                        </div>
                    </div>
                    <div class="display-3 mb-3">Reset Instructions Sent</div>
                    <p>Check Your Email</p>
                </div>
            </div>
            <div class='card' id="login-card">
                <div class='card-body text-center d-flex flex-column gap-3 align-items-center justify-content-center'>
                    <h2>Password Reset Sent</h2>
                    <p>We've emailed you instructions for setting your password. You should receive the email
                        shortly.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your
                        spam folder.</p>
                    <a href="{% url 'login' %}">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
    <link href='{% static "css/index.css" %}' rel='stylesheet'>
{% endblock %}


