#confirmation .card-body,
#payment-tab .card-body {
    min-height: 60vh;
}

label {
    text-transform: capitalize;
}

.shipping-billing-container {
    display: flex;
    flex-direction: row;

}

.required {
    border-left: 3px solid red;
}

.hidden-field {
    display: none;
}

.payment-logo {
    /*max-width: 250px;*/
    /*height: auto;*/
    max-height: 35px;
    margin-top: 15px;
}

.swal-label {
    text-align: left;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    width: 100%;
}

#swal2-title{
    font-size: 12px;
}

.custom-swal-width {
    max-width: 800px; /* Adjust this width as needed */
    width: 90%;
}

@media (max-width: 768px) {
    .shipping-billing-container {
        flex-direction: column;

    }

    .order-contact-info {
        flex-direction: column;
    }

    .col-4,
    .col-8,
    .col-2,
    .city-state-zip-container {
        flex: 1;
        width: 100%;
    }

    .city-state-zip-container {
        padding: 0 !important;
        margin-left: calc(-.5 * var(--bs-gutter-x)) !important;
    }

    .bs-contact-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .filler-column {
        display: none;
    }

    .city-col {
        padding-right: calc(var(--bs-gutter-x) * .25);
    }

    .state-col {
        padding-left: calc(var(--bs-gutter-x) * .25);
        padding-right: calc(var(--bs-gutter-x) * .25);
    }

    .zip-col {
        padding-left: calc(var(--bs-gutter-x) * .25);
    }

    .nav-tabs {
        display: none;
    }

    #checkoutTabContent {
        overflow-y: auto;
    }

    #confirmation {
        min-width: 700px;
    }

    p.position-absolute.bottom-0.end-0.me-3 {
        margin-left: 25px;
    }

    .total-column {
        width: 100px;
    }
}

/*@media (max-width: 1399px) {*/

/*}*/