<div class='card'>
    <div class='card-header'>
        <div class="fw-bolder">Place Your Bid</div>
    </div>
    <div class='form-group'>
        <form class="p-3 " action="{% url 'auction_bid' auction.id %}"
              method='POST'
              data-auction-id="{{ auction.id }}"
              data-starting-bid="{{ auction.starting_bid }}"
              data-current-bid="{{ auction.current_bid }}">
            {% csrf_token %}
            <div class='form-group with-symbol extra-m'>
                {{ bid_form }}
                <br>
                <button type='submit' class='btn btn-primary'>
                    Place a Bid
                </button>
            </div>
        </form>

    </div>
</div>


