{% extends 'new_base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Auctions | {{ title }} {% endblock %}

{% block body %}
    <div class="container">
        <!-- Messages -->
        {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <!-- Breadcrumb Navigation -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'active_auctions_view' %}">Auctions</a></li>

                {% if category_name %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?category_name={{ category_name }}">{{ category_name|titlecase }}</a>
                    </li>
                {% endif %}

                {% if manufacturer_filter %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?manufacturer_filter={{ manufacturer_filter }}">{{ manufacturer_filter|titlecase }}</a>
                    </li>
                {% endif %}

                {% if time_filter %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?time_filter={{ time_filter }}">{{ time_filter|titlecase }}</a>
                    </li>
                {% endif %}
                {% if auction_type %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?auction_type={{ auction_type }}">{{ auction_type|auction_type_label }}</a>
                    </li>
                {% endif %}
                {% if sort_by %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?sort_by={{ sort_by }}">{{ sort_by|sort_by_label }}</a>
                    </li>
                {% endif %}
                {% if specialty %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?specialty={{ specialty }}">{{ specialty }}</a>
                    </li>
                {% endif %}
                {% if recent_views %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?recent_views={{ recent_views }}">
                        {% if recent_views %}Recently Viewed Listings{% endif %} </a>
                    </li>
                {% endif %}
            </ol>
        </nav>

        <!-- Page Heading -->
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h2 class="breadcrumb-item active" aria-current="page">
                {% if search_query %}
                    Search Results for "{{ search_query|titlecase }}"
                {% elif category_name or specialty or manufacturer_filter or auction_type or time_filter or sort_by %}
                    {% comment %} Append filters to the heading {% endcomment %}
                    {% if category_name %}
                        in {{ category_name|titlecase }}
                    {% endif %}
                    {% if specialty %}
                        {% if category_name %} - {% endif %}
                        Specialty: {{ specialty|titlecase }}
                    {% endif %}
                    {% if manufacturer_filter %}
                        {% if category_name or specialty %} - {% endif %}
                        Manufacturer: {{ manufacturer_filter|titlecase }}
                    {% endif %}
                    {% if auction_type %}
                        {% if category_name or specialty or manufacturer_filter %} - {% endif %}
                        Type: {{ auction_type|auction_type_label }}
                    {% endif %}
                    {% if time_filter %}
                        {% if category_name or specialty or manufacturer_filter or auction_type %} - {% endif %}
                        Time: {{ time_filter|titlecase }}
                    {% endif %}
                    {% if sort_by %}
                        {% if category_name or specialty or manufacturer_filter or auction_type or time_filter %} -
                        {% endif %}
                        Sorted by: {{ sort_by|sort_by_label }}
                    {% endif %}
                {% else %}
                    {% if title %}
                        {{ title|titlecase }}
                    {% else %}
                        Listings
                    {% endif %}
                {% endif %}

                - {{ auctions_count }} Result{% if auctions_count != 1 %}s{% endif %}
            </h2>

            {% if request.user.is_authenticated %}
                <a href="{% url 'export_listings' %}" class="btn btn-outline-primary ">Download as Excel</a>
            {% endif %}
        </div>


        <div class="active-auctions-container">
            <div class="auctions-header-container">
                <!-- Filters and Sorting -->
                <div class="container pt-4" id="filter-container">
                    <!-- Filter Button for Small Screens -->
                    <button class="btn btn-outline-primary d-md-none mb-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                        <i class="fas fa-filter"></i> Filter
                    </button>
                    <!-- Filter Section -->
                    <div class="collapse d-md-block filters" id="filterCollapse">
                        <form id="auction-filter-form" method="get" class="form-inline">
                            <!-- Filter By Time -->
                            <div class="form-group mb-2">
                                <h6 class="text-capitalize">Filter By:
                                    {% if time_filter %}{{ time_filter }}{% else %}Ending Days{% endif %}</h6>
                                <div class="dropdown">
                                    <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                            type="button" id="time-filter"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Ending All Days
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="time-filter">
                                        <a class="dropdown-item" href="#" data-value="">All Times</a>
                                        <a class="dropdown-item" href="#" data-value="today">Today</a>
                                        <a class="dropdown-item" href="#" data-value="tomorrow">Tomorrow</a>
                                        <a class="dropdown-item" href="#" data-value="next_3_days">Next 3 Days</a>
                                        <a class="dropdown-item" href="#" data-value="next_5_days">Next 5 Days</a>
                                        <a class="dropdown-item" href="#" data-value="next_7_days">Next 7 Days</a>
                                        <a class="dropdown-item" href="#" data-value="next_10_days">Next 10 Days</a>
                                        <a class="dropdown-item" href="#" data-value="">Reset</a>
                                    </div>
                                </div>
                                <input type="hidden" name="time_filter" id="time-filter-value">
                            </div>
                            <!-- Sort By -->
                            <div class="form-group mb-2">
                                <h6>Sort By: {{ sort_by|sort_by_label }}</h6>
                                <div class="dropdown">
                                    <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                            type="button" id="sort-by"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ sort_by|sort_by_label }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="sort-by">
                                        <a class="dropdown-item {% if sort_by == '' %}active{% endif %}" href="#"
                                           data-value="">Best Match</a>
                                        <a class="dropdown-item {% if sort_by == 'ending_soonest' %}active{% endif %}"
                                           href="#" data-value="ending_soonest">Ending Soonest</a>
                                        <a class="dropdown-item {% if sort_by == 'newly_listed' %}active{% endif %}"
                                           href="#" data-value="newly_listed">Newly Listed</a>
                                        <a class="dropdown-item {% if sort_by == 'price_highest' %}active{% endif %}"
                                           href="#" data-value="price_highest">Price Highest</a>
                                        <a class="dropdown-item {% if sort_by == 'price_lowest' %}active{% endif %}"
                                           href="#" data-value="price_lowest">Price Lowest</a>
                                        <a class="dropdown-item {% if sort_by == 'fewest_bids' %}active{% endif %}"
                                           href="#" data-value="fewest_bids">Fewest Bids</a>
                                        <a class="dropdown-item {% if sort_by == 'most_bids' %}active{% endif %}"
                                           href="#" data-value="most_bids">Most Bids</a>
                                        <a class="dropdown-item" href="#" data-value="">Reset</a>
                                    </div>
                                </div>
                                <input type="hidden" name="sort_by" id="sort-by-value">
                            </div>


                            <!-- Manufacturer Filter -->
                            <div class="form-group mb-2">
                                <h6>Select Manufacturer</h6>
                                <div class="dropdown">
                                    <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                            type="button" id="mfg-filter"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if manufacturer_filter %}
                                            {{ manufacturer_filter }}
                                        {% else %}
                                            Select Manufacturer
                                        {% endif %}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="mfg-filter">
                                        <a class="dropdown-item {% if mfg_filter == '' %}active{% endif %}" href="#"
                                           data-value="">Select Manufacturer</a>
                                        {% for manufacturer in unique_manufacturers %}
                                            <a class="dropdown-item {% if manufacturer_filter == manufacturer %}active{% endif %}"
                                               href="#"
                                               data-value="{{ manufacturer }}">{{ manufacturer }}</a>
                                        {% endfor %}
                                        <a class="dropdown-item" href="#" data-value="">Reset</a>
                                    </div>
                                </div>
                                <input type="hidden" name="mfg_filter" id="mfg-filter-value">
                            </div>

                            <!-- Auction Type Filter -->
                            <div class="form-group mb-2">
                                <h6>Listing Type: {{ auction_type|auction_type_label }}</h6>
                                <div class="dropdown">
                                    <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                            type="button" id="auction-type"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ auction_type|auction_type_label }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="auction-type">
                                        <a class="dropdown-item {% if auction_type == '' %}active{% endif %}" href="#"
                                           data-value="">All</a>
                                        <a class="dropdown-item {% if auction_type == 'Auction' %}active{% endif %}"
                                           href="#" data-value="Auction">Auction</a>
                                        <a class="dropdown-item {% if auction_type == 'Sale' %}active{% endif %}"
                                           href="#" data-value="Sale">Get It Now</a>
                                    </div>
                                </div>
                                <input type="hidden" name="auction_type" id="auction-type-value">
                            </div>

                            <!-- Filter By Expired Items -->
                            <div class="form-group mb-2">
                                <h6>Expiration: {{ expired_filter|expired_filter_label }}</h6>
                                <div class="dropdown">
                                    <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                            type="button" id="expired-filter"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ expired_filter|expired_filter_label }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="expired-filter">
                                        <a class="dropdown-item {% if expired_filter == '' %}active{% endif %}" href="#"
                                           data-value="">All Items</a>
                                        <a class="dropdown-item {% if expired_filter == 'expired' %}active{% endif %}"
                                           href="#" data-value="expired">Expired Items</a>
                                        <a class="dropdown-item {% if expired_filter == 'not_expired' %}active{% endif %}"
                                           href="#" data-value="not_expired">In Date Items</a>
                                    </div>
                                </div>
                                <input type="hidden" name="expired_filter" id="expired-filter-value">
                            </div>

                            <!-- My Listings Checkbox -->
                            {% if user.is_authenticated and has_active_auctions %}
                                <div class="form-group mb-2">
                                    <h6>View My Listings</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="my-auctions-checkbox"
                                               name="my_auctions" value="1"
                                                {% if my_auctions %} checked {% endif %}>
                                        <label class="form-check-label" for="my-auctions-checkbox">
                                            My Listings
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class='auctions-container mb-4'>
                <div class='card-body'>
                    <div class='col align-items-center'>
                        {% for auction in pages %}
                            {% include '_auction_listing.html' %}

                        {% endfor %}


                    </div>
                </div>
            </div>

        </div>
        {% if pages.has_other_pages %}
            <div class='d-flex align-items-center justify-content-center'>
                <ul class='pagination'>
                    {% if pages.has_previous %}
                        <li class='page-item'>
                            <a class='page-link' href='?page={{ pages.previous_page_number }}'>
                                &laquo;
                            </a>
                        </li>
                    {% else %}
                        <li class='page-item disabled'>
                            <a class='page-link' href='#'>&laquo;</a>
                        </li>
                    {% endif %}
                    {% for i in pages.paginator.page_range %}
                        {% if pages.number == i %}
                            <li class='page-item active'>
                                <a class='page-link' href='#'>{{ i }}</a>
                            </li>
                        {% else %}
                            <li class='page-item'>
                                <a class='page-link' href='?page={{ i }}'>{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.has_next %}
                        <li class='page-item'>
                            <a class='page-link' href='?page={{ pages.next_page_number }}'>
                                &raquo;
                            </a>
                        </li>
                    {% else %}
                        <li class='page-item disabled'>
                            <a class='page-link' href='#'>&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

    </div>

    <!-- Modals -->
    {% for auction in auctions %}
        {% include '_auction_modal.html' %}
    {% endfor %}


    <div id="zoomed-img-container"></div>

    <link href='{% static "css/auctions_view.css" %}' rel='stylesheet'>
    <script src='{% static "js/auctions_active.js" %}'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Lightbox CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

    <!-- Lightbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script>
        // Automatically close the alert after 5 seconds
        setTimeout(function () {
            var alert = document.querySelector('.alert-dismissible');
            if (alert) {
                alert.classList.remove('show');
                alert.classList.add('fade');
                setTimeout(function () {
                    alert.remove();
                }, 150); // Matches Bootstrap's fade out timing
            }
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
    <script>
        $(document).ready(function () {
            $('.modal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                let auctionId = button.data('auction-id'); // Extract info from data-* attributes
                let modal = $(this);

                // Fetch additional images
                $.ajax({
                    url: '/api/get-auction-images/' + auctionId + '/',
                    method: 'GET',
                    success: function (data) {
                        let imagesContainer = $('#additional-images-' + auctionId);
                        imagesContainer.empty(); // Clear any existing images

                        if (data.image_urls.length > 0) {
                            data.image_urls.forEach(function (url) {
                                let img = $('<img>').attr('src', url).addClass('img-thumbnail');
                                imagesContainer.append(img);
                            });
                        } else {
                            imagesContainer.append('<p>No additional images available.</p>');
                        }
                    }
                });
            });

            // Handle bid submission
            $('.bid-form form').on('submit', function (event) {
                event.preventDefault();

                let form = $(this);
                let bidAmount = parseFloat(form.find('input[name="amount"]').val());
                let auctionId = form.data('auction-id');
                let startingBid = parseFloat(form.data('starting-bid'));
                let currentBid = parseFloat(form.data('current-bid'));

                // If currentBid is NaN, set it to 0
                if (isNaN(currentBid)) {
                    currentBid = 0;
                }

                // Log values for debugging
                console.log('Starting Bid', startingBid);
                console.log('Current Bid', currentBid);
                console.log('Bid Amount', bidAmount);
                console.log('Minimum Bid', Math.max(startingBid, currentBid));

                // Validate bid amount
                let minimumBid = Math.max(startingBid, currentBid);
                if (isNaN(bidAmount) || bidAmount <= minimumBid) {
                    Swal.fire({
                        title: 'Invalid Bid',
                        text: `Please enter a bid higher than ${minimumBid.toFixed(2)}`,
                        input: 'number',
                        inputLabel: 'Your Bid',
                        inputPlaceholder: `Enter a bid higher than ${minimumBid.toFixed(2)}`,
                        confirmButtonColor: '#0B5ED7',  // Customize button color
                        showCancelButton: true,
                        inputValidator: (value) => {
                            if (!value || isNaN(value) || parseFloat(value) <= minimumBid) {
                                return `Please enter a valid bid higher than ${minimumBid.toFixed(2)}`;
                            } else {
                                // Resubmit the form with the new bid value
                                form.find('input[name="amount"]').val(parseFloat(value));
                                form.off('submit').submit();  // Unbind the event handler to prevent recursion
                            }
                        }
                    });
                    return;
                }

                // Submit the bid via AJAX
                $.ajax({
                    url: form.attr('action'),
                    method: 'POST',
                    data: form.serialize(),
                    success: function (response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Bid Placed',
                            text: 'Your bid has been successfully placed.',
                            confirmButtonColor: '#0B5ED7'  // Customize button color
                        }).then(() => {
                            location.reload();  // Reload the page to reflect the new bid
                        });
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'There was an error placing your bid. Please try again.',
                            confirmButtonColor: '#0B5ED7'  // Customize button color
                        });
                    }
                });
            });
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('[id^="question-icon-"]').forEach(function (button) {
                button.addEventListener('click', function () {
                    const auctionId = this.id.split('-')[2];
                    const form = document.getElementById('questionForm-' + auctionId);
                    form.style.display = form.style.display === 'none' ? 'block' : 'none';
                });
            });

            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });

    </script>

{% endblock %}
