{% extends 'base.html' %}
{% load static %}

{% block title %}Auctions | {{ title }} {% endblock %}


{% block body %}

{#    {% include 'sidebar.html' %}#}

    <div class="container">


        <div class="auction-header">
            <div>
                <!-- Page Heading -->
                <h1 class='h3 mb-0 text-gray-800'>{{ auction.title }}</h1>
                <div class="container p-0 pt-1">

                    <!-- Product category and Product creator -->
                    <h6>
                        <span class='text-muted'>Category: <span
                                class='text-primary'>{{ auction.category }}</span></span> &nbsp; | &nbsp;
                        <span class='text-muted'>Listed by: <span
                                class='text-primary'>{{ auction.creator }}</span></span> &nbsp; | &nbsp;
                        <span class='text-muted'>Created on {{ auction.date_created }}</span>
                    </h6>
                </div>
            </div>
            <!-- Watchlist -->
            <div>
                <a class='btn btn-outline-success mt-auto rounded'
                   href="{% url 'watchlist_edit' auction.id 'auction_details_view' %}">
                    {% if auction.is_watched %}
                        Remove from Watchlist
                    {% else %}
                        Add to Watchlist
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="time-remaining">
            Time Remaining: {{ auction.formatted_time_remaining }}
        </div>
        <div class='auction-container'>
            <div class="column">
                <div class=''>
                    <div class=''>
                        <div class='auction-img-container'>
                            <div class='thumbnail-column'>
                                {% for image in images %}
                                    <img class='thumbnail-img' src="{{ image.image.url }}"
                                         alt='Product Thumbnail'>
                                {% empty %}
                                    <img class='thumbnail-img' src="{% static 'images/no_image.png' %}"
                                         alt='Image Not Available'>
                                {% endfor %}
                            </div>
                            <img id='main-image' class='card-img-top'
                                 src="
                                         
                                         {% if images %}{{ images.0.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}"
                                 alt='Main Product Image'>
                        </div>
                    </div>
                </div>
                <!-- Bid -->
                <div class='mt-3'>
                    <div class='card mb-4 bid-card'>
                        <div class='card-header'>
                            <i class='fas fa-money-bill-alt'></i>
                            Bid
                        </div>
                        <div class='card-body'>
                            <!-- Product price-->
                            <h3>
                                {% if auction.current_bid %}
                                    Current price:<strong> ${{ auction.current_bid }}</strong>
                                {% else %}
                                    Starting price:<strong> ${{ auction.starting_bid }}</strong>
                                {% endif %}
                            </h3>
                            <p>
                                {% if auction.current_bid is None %}
                                    {% if auction.creator != user %}
                                        <div class='alert alert-secondary p-0' role='alert'>
                                            Place the first bid on this auction.
                                        </div>
                                    {% endif %}
                                {% elif auction.buyer is not None %}
                                    {% if auction.creator == user %}
                                        <div class='alert alert-secondary p-0' role='alert'>
                                            The item sold to <strong>{{ auction.buyer }}</strong> for
                                            <strong>&euro;{{ auction.current_bid }}</strong>.
                                        </div>
                                    {% endif %}
                                {% endif %}

                            {% if error_min_value %}
                                <p>
                                    {% if auction.current_bid %}
                                        <div class='alert alert-warning' role='alert'>
                                            Your bid must be greater than
                                            <strong>&euro;{{ auction.current_bid|default:auction.starting_bid }}</strong>.
                                        </div>
                                    {% else %}
                                        <div class='alert alert-warning' role='alert'>
                                            Your bid must be greater than or equal to
                                            <strong>&euro;{{ auction.current_bid|default:auction.starting_bid }}</strong>.
                                        </div>
                                    {% endif %}
                                </p>
                            {% endif %}

                            <div class='form-group'>
                                <form action="{% url 'auction_bid' auction.id %}" method='POST'>
                                    {% csrf_token %}
                                    <div class='form-group'>
                                        {{ bid_form }}
                                        <br>
                                        <button type='submit' class='btn btn-primary'>
                                            Place a bid
                                        </button>
                                        <a href="{% url 'index' %}" class='btn btn-secondary'>
                                            Cancel
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" id="auction-details">


                <div class='card mb-4'>
                    {#                    <div class='card-header'>#}
                    {#                        <i class='fas fa-money-bill-alt'></i>#}
                    {#                        Bid#}
                    {#                    </div>#}
                    <div class='card-body'>
                        <div class="auction-price-container">

                            <!-- Product price-->
{#                            <h3>#}
{#                                {% if auction.current_bid %}#}
{#                                    Current price: ${{ auction.current_bid }}#}
{#                                {% else %}#}
{#                                    Starting price: ${{ auction.starting_bid }}#}
{#                                {% endif %}#}
{#                            </h3>#}
{#                            <div>#}
{#                                {% if auction.current_bid is None %}#}
{#                                    {% if auction.creator != user %}#}
{#                                        <div class='alert alert-secondary p-0' role='alert'>#}
{#                                            Place the first bid on this auction.#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                {% elif auction.buyer is not None %}#}
{#                                    {% if auction.creator == user %}#}
{#                                        <div class='alert alert-secondary p-0' role='alert'>#}
{#                                            The item sold to <strong>{{ auction.buyer }}</strong> for#}
{#                                            <strong>&euro;{{ auction.current_bid }}</strong>.#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{##}
{#                                {% if error_min_value %}#}
{#                                    <p>#}
{#                                        {% if auction.current_bid %}#}
{#                                            <div class='alert alert-warning p-0' role='alert'>#}
{#                                                Your bid must be greater than#}
{#                                                <strong>${{ auction.current_bid|default:auction.starting_bid }}</strong>.#}
{#                                            </div>#}
{#                                        {% else %}#}
{#                                            <div class='alert alert-warning p-0' role='alert'>#}
{#                                                Your bid must be greater than or equal to#}
{#                                                <strong>${{ auction.current_bid|default:auction.starting_bid }}</strong>.#}
{#                                            </div>#}
{#                                        {% endif %}#}
{#                                    </p>#}
{#                                {% endif %}#}
{#                            </div>#}
                            <div>
                                <h3>Product Details</h3>
                                <table class="product-details-table">
                                    <tr>
                                        <td class="label-column">Product Name:</td>
                                        <td>{{ auction.product_name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">UDI:</td>
                                        <td>{{ auction.udi }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Quantity:</td>
                                        <td>{{ auction.quantity_available }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Manufacturer:</td>
                                        <td>{{ auction.manufacturer }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Reference Number:</td>
                                        <td>{{ auction.reference_number }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Lot Number:</td>
                                        <td>{{ auction.lot_number }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Production Date:</td>
                                        <td>{{ auction.production_date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Expiration Date:</td>
                                        <td>{{ auction.expiration_date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Package Type:</td>
                                        <td>{{ auction.package_type }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Package Quantity:</td>
                                        <td>{{ auction.package_quantity }}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Package Sterile:</td>
                                        <td>
                                            {% if auction.deviceSterile %}
                                                True
                                            {% else %}
                                                False
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-column">Package Full:</td>
                                        <td>
                                            {% if auction.fullPackage %}
                                                True
                                            {% else %}
                                                Partial Quantity: {{ auction.partial_quantity }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                    </div>


                </div>
            </div>


            <!-- Admin Section -->
            {% if auction.creator == user and auction.active %}
                <div class='row'>

                <div class='container'>
                    <div class='row'>


                        <!-- Admin section: Close Auction -->
                        <div class='col-xl-4'>
                            <div class='card mb-4'>
                                <div class='card-header'>
                                    <i class='fas fa-lock'></i>
                                    Admin section
                                </div>
                                <div class='card-body'>
                                    <a class='btn btn-danger mt-auto' href="{% url 'auction_close' auction.id %}">
                                        Close auction
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            {% endif %}


            <div class='row'>
                <div class='container'>
                    <div class='card mb-4'>
                        <div class='card-body'>


                            {% if auction.active == False and auction.buyer is not None %}
                                <div class='row'>
                                    <!-- Comments -->
                                    <div class='col-xl-12'>
                                        <div class='card mb-4'>
                                            <div class='card-header'>
                                                <i class='fas fa-comments'></i>
                                                Auction Details
                                            </div>
                                            <div class='card-body'>

                                                {% if auction.creator == user %}
                                                    <div class='alert alert-success' role='alert'>
                                                        The item sold to <strong>{{ auction.buyer }}</strong> for
                                                        <strong>&euro;{{ auction.current_bid }}</strong>.
                                                    </div>
                                                {% elif auction.buyer == user %}
                                                    <div class='alert alert-success' role='alert'>
                                                        Congratulations! Yours was the winning bid on
                                                        <strong>{{ auction.title }}</strong>.
                                                    </div>
                                                {% else %}
                                                    <div class='alert alert-warning' role='alert'>
                                                        This item has already been sold.
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- Bid Container - Show if Active Auction and Not the Auction Creator -->
                            {% if auction.creator != user and auction.active %}
                                <div class='row'>
                                <!-- Bid -->
                                <div class='col-xl-6'>
                                    <div class='card mb-4'>
                                        <div class='card-header'>
                                            <i class='fas fa-money-bill-alt'></i>
                                            Bid
                                        </div>
                                        <div class='card-body'>
                                            <!-- Product price-->
                                            <h6>
                                                {% if auction.current_bid %}
                                                    Current price:<strong> &euro;{{ auction.current_bid }}</strong>
                                                {% else %}
                                                    Starting price:<strong> &euro;{{ auction.starting_bid }}</strong>
                                                {% endif %}
                                            </h6>
                                            <p>
                                                {% if auction.current_bid is None %}
                                                    {% if auction.creator != user %}
                                                        <div class='alert alert-secondary' role='alert'>
                                                            Place the first bid on this auction.
                                                        </div>
                                                    {% endif %}
                                                {% elif auction.buyer is not None %}
                                                    {% if auction.creator == user %}
                                                        <div class='alert alert-secondary' role='alert'>
                                                            The item sold to <strong>{{ auction.buyer }}</strong> for
                                                            <strong>&euro;{{ auction.current_bid }}</strong>.
                                                        </div>
                                                    {% endif %}
                                                {% endif %}

                                            {% if error_min_value %}
                                                <p>
                                                    {% if auction.current_bid %}
                                                        <div class='alert alert-warning' role='alert'>
                                                            Your bid must be greater than
                                                            <strong>&euro;{{ auction.current_bid|default:auction.starting_bid }}</strong>.
                                                        </div>
                                                    {% else %}
                                                        <div class='alert alert-warning' role='alert'>
                                                            Your bid must be greater than or equal to
                                                            <strong>&euro;{{ auction.current_bid|default:auction.starting_bid }}</strong>.
                                                        </div>
                                                    {% endif %}
                                                </p>
                                            {% endif %}

                                            <div class='form-group'>
                                                <form action="{% url 'auction_bid' auction.id %}" method='POST'>
                                                    {% csrf_token %}
                                                    <div class='form-group'>
                                                        {{ bid_form }}
                                                        <br>
                                                        <button type='submit' class='btn btn-primary'>
                                                            Place a bid
                                                        </button>
                                                        <a href="{% url 'index' %}" class='btn btn-secondary'>
                                                            Cancel
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Comments -->
                                {#                                                            <div class='col-xl-6'>#}
                                {#                                                                <div class='card mb-4'>#}
                                {#                                                                    <div class='card-header'>#}
                                {#                                                                        <i class='fas fa-comments'></i>#}
                                {#                                                                        Comments#}
                                {#                                                                    </div>#}
                                {#                                                                    <div class='card-body'> -->#}

                                <!-- Comments -->
                                {#                            {% if auction.active %}#}
                                {#                                <div>#}
                                {#                                    <form action="{% url 'auction_comment' auction.id %}" method='POST'>#}
                                {#                                        {% csrf_token %}#}
                                {#                                        <div class='form-group'>#}
                                {#                                            {{ comment_form }}#}
                                {#                                            <br>#}
                                {#                                            <button type='submit' class='btn btn-success'>#}
                                {#                                                Add a comment#}
                                {#                                            </button>#}
                                {#                                            <a href="{% url 'index' %}" class='btn btn-secondary'>#}
                                {#                                                Cancel#}
                                {#                                            </a>#}
                                {#                                        </div>#}
                                {#                                    </form>#}
                                {#                                </div>#}
                                {#                            {% endif %}#}
                                {##}
                                {#                            {% for comment in comments %}#}
                                {#                                <div>#}
                                {#                                    <div class='text-muted'>#}
                                {#                                        <strong>{{ comment.user|default:"Unknown" }}</strong> commented#}
                                {#                                        on {{ comment.date_created }}#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div>#}
                                {#                                    <p>{{ comment.comment }}</p>#}
                                {#                                </div>#}
                                {#                            {% endfor %}#}
                                {#                        </div>#}
                                {#                        </div>#}
                                {#                        </div>#}
                                {#                        </div>>#}
                            {% elif auction.creator == user and auction.active %}

                                <div class='row'>
                                    <!-- Comments -->
                                    <div class='col-xl-12'>
                                        <div class='card mb-4'>
                                            <div class='card-header'>
                                                <i class='fas fa-comments'></i>
                                                Comments
                                            </div>
                                            <div class='card-body'>
                                                <!-- Comments -->
                                                {% if auction.active %}
                                                    <div>
                                                        <form action="{% url 'auction_comment' auction.id %}"
                                                              method='POST'>
                                                            {% csrf_token %}
                                                            <div class='form-group'>
                                                                {{ comment_form }}
                                                                <br>
                                                                <button type='submit' class='btn btn-success'>
                                                                    Add a comment
                                                                </button>
                                                                <a href="{% url 'index' %}" class='btn btn-secondary'>
                                                                    Cancel
                                                                </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% endif %}

                                                {% for comment in comments %}
                                                    <div>
                                                        {{ comment.user|default:"Unknown" }} commented
                                                        on {{ comment.date_created }}
                                                    </div>
                                                    <div>
                                                        <p>{{ comment.comment }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const thumbnails = document.querySelectorAll('.thumbnail-img');
                    const mainImage = document.getElementById('main-image');

                    thumbnails.forEach(thumbnail => {
                        thumbnail.addEventListener('click', function () {
                            mainImage.src = thumbnail.src;
                        });
                    });
                });

            </script>

            <!-- Product reviews-->
            {#    <div class='d-flex justify-content-left small text-warning mb-2'>#}
            {#        <div class='bi-star-fill'></div>#}
            {#        <div class='bi-star-fill'></div>#}
            {#        <div class='bi-star-fill'></div>#}
            {#        <div class='bi-star-fill'></div>#}
            {#        <div class='bi-star'></div>#}
            {#    </div>#}

{% endblock %}