{% extends 'new_base.html' %}
{% load static %}
{% block title %}Auctions | {{ title }} {% endblock %}

{% block body %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div class="container" style="min-height: 80vh">
        <section>
            <!-- Page Heading -->
            {% if success %}
                <br>
                <div id='success-alert' class='alert alert-success' role='alert'>
                    The new auction created successfully.
                </div>
            {% else %}
                <!-- Option Modal -->
                <div id="optionModal" class="modal" style="display: none">
                    <div class="modal-content">
                        <h2>Select an Option</h2>
                        <div class="modal-options">
                            <div class="option mobile-only" id="scanQRCode">
                                <i class="fa-solid fa-qrcode"></i>
                                <i class="fa-solid fa-barcode"></i>
                                <h3>Scan Bar or QR Codes</h3>
                            </div>
                            <div class="option" id="enterDetails">
                                <i class="fa-solid fa-pencil"></i>
                                <h3>Enter Manually</h3>
                            </div>
                            <a href="{% url 'import_excel' %}" class="option" id="importExcel">
                                <i class="fa-solid fa-file-excel"></i>
                                <h3>Import Excel</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Scan QR Code Modal -->
                <div id="scanModal" class="modal">
                    <div class="modal-content">
                        <h2>Scan Barcode</h2>
                        {#                    <button id="start-scan">Start Scan</button>#}
                        <div id="camera-preview" class="camera-preview">


                            <div style="position: relative; grid-row: span 2">
                                <h4>Scanner</h4>
                                <p>Place camera in front of barcodes</p>
                                <div id="camera-view-container" style="width: 100%; height: 60vh">
                                    <div class="dce-video-container"
                                         style="position:absolute;width:100%;height:-webkit-fill-available;"></div>
                                    <div id="dce-mask" hidden
                                         style="width:100%;height:100%;position:absolute;top:-10px;left:-10px;padding:10px;">
                                        <div class="dce-corner"
                                             style="position:absolute;width:50px;height:50px;top:0;left:0;border-left:3px solid #fe8e14;border-top:3px solid #fe8e14;"></div>
                                        <div class="dce-corner"
                                             style="position:absolute;width:50px;height:50px;top:0;right:0;border-right:3px solid #fe8e14;border-top:3px solid #fe8e14;"></div>
                                        <div class="dce-corner"
                                             style="position:absolute;width:50px;height:50px;left:0;bottom:0;border-left:3px solid #fe8e14;border-bottom:3px solid #fe8e14;"></div>
                                        <div class="dce-corner"
                                             style="position:absolute;width:50px;height:50px;bottom:0;right:0;border-right:3px solid #fe8e14;border-bottom:3px solid #fe8e14;"></div>
                                    </div>
                                </div>
                                <textarea id="results"
                                          style="display: none; width: 100%; min-height: 10vh; font-size: 3vmin; overflow: auto"
                                          disabled></textarea>

                            </div>


                            <div id="barcode-results">
                                <h4>Results Map</h4>
                                <p>Scanned barcodes will appear below. Please verify that they are correct.</p>
                                <div class="mapping-table" id="mapping-table">
                                    <div class="mapping-header" style="border-bottom: 1px solid #777">
                                        <h5>Name</h5>
                                        <div></div>
                                        <h5>Code</h5>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <button id="closeScanModal" class="btn btn-secondary">Save & Close</button>
                    </div>
                </div>



                <!-- Create Auction Form -->
                <h1 class='h3 mb-4 text-gray-800'>Create A Listing</h1>
                <p>We've made it easy to create your listings by automatically populating as much information as
                    possible based on the details you provide. Simply review the auto-filled details, make any necessary
                    adjustments, and your listing is ready to go!</p>
                {#                <p>Enter the details of the auction below.</p>#}
                <div class='card mb-4'>
                    <div class='card-body'>
                        {#                        <h3 class="package-details-heading">Auction Summary</h3>#}
                        <div class='form-group'>
                            <form action="{% url 'auction_create' %}" method='POST' enctype='multipart/form-data'
                                  id="auction-form">
                                {% csrf_token %}
                                <div id="multi-step-form">
                                    <ul class="nav nav-tabs" id="formTabs" role="tablist" style="display: none">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="page1-tab" data-toggle="tab" href="#page1"
                                               role="tab" aria-controls="page1" aria-selected="true">Page 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="page2-tab" data-toggle="tab" href="#page2"
                                               role="tab" aria-controls="page2" aria-selected="false">Page 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="page3-tab" data-toggle="tab" href="#page3"
                                               role="tab" aria-controls="page3" aria-selected="false">Page 3</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="formTabsContent">
                                        <!-- Start Page 1 -->
                                        <div class="tab-pane fade show active main-tab" id="page1" role="tabpanel"
                                             aria-labelledby="page1-tab">
                                            <h3 class="package-details-heading">Listing Summary</h3>
                                            <p class="border-bottom pb-2">Add the basic details of your listing</p>
                                            <div class='form-group mb-5' id="auction-summary-container">
                                                <div class="hidden">
                                                    {{ auction_form.title.label_tag }}
                                                    {{ auction_form.title }}
                                                </div>
                                                <div class="bid-detail" id="description-name-container">
                                                    <div>
                                                        {{ auction_form.product_name.label_tag }}
                                                        {{ auction_form.product_name }}
                                                    </div>
                                                    <div id="auction-description">
                                                        {{ auction_form.description.label_tag }}
                                                        <i class="fa fa-info-circle"
                                                           aria-hidden="true" id="infoIcon">
                                                            <span class="tooltip">We add a description when possible, but you can change it if needed.</span>
                                                        </i>
                                                        {{ auction_form.description }}
                                                    </div>
                                                </div>
                                                <div class="bid-detail" id="sku-container">
                                                    <div>
                                                        {{ auction_form.category.label_tag }}
                                                        <i class="fa fa-info-circle"
                                                           aria-hidden="true" id="">
                                                            <span class="tooltip">We auto-select the category when possible, but you can change it if needed.</span>
                                                        </i>
                                                        {{ auction_form.category }}
                                                    </div>
                                                    <!--Auction Type Tab panes -->
                                                    <div class="container p-0 custom-tabs" id="listingTypeContainer"
                                                         data-auctiontype="Auction">
                                                        <div class="hidden-field">
                                                            {{ auction_form.auction_type }}
                                                        </div>
                                                        <!-- Nav tabs -->
                                                        <ul class="nav nav-tabs border-0" id="listingType"
                                                            role="tablist">
                                                            <li class="nav-item" role="presentation"
                                                                id="auction-tab-li">
                                                                <button class="nav-link active" id="auction-tab"
                                                                        data-bs-toggle="tab" data-bs-target="#auction"
                                                                        type="button" role="tab" aria-controls="auction"
                                                                        aria-selected="true">
                                                                    Auction<i class="ms-2 fa-solid fa-check"></i>
                                                                </button>
                                                            </li>
                                                            <li class="nav-item" role="presentation"
                                                                id="buyItNow-tab-li">
                                                                <button class="nav-link" id="buyItNow-tab"
                                                                        data-bs-toggle="tab" data-bs-target="#buyItNow"
                                                                        type="button" role="tab"
                                                                        aria-controls="buyItNow" aria-selected="false">
                                                                    Get It Now<i class="ms-2 fa-solid fa-check "
                                                                                 style="display: none;"></i>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <!-- Nav content -->
                                                        <div class="tab-content border rounded-bottom rounded-end"
                                                             id="auctionTabContent">
                                                            <div class="tab-pane border-0 fade show active" id="auction"
                                                                 role="tabpanel" aria-labelledby="auction-tab">
                                                                <div class="">
                                                                    <div class="mb-2 fw-light fst-italic">The Listing
                                                                        Type
                                                                        Will Be Auction
                                                                    </div>
                                                                    <div class="bid-row">
                                                                        <div class="form-group with-symbol">
                                                                            {{ auction_form.starting_bid.label_tag }}
                                                                            <i class="fa fa-info-circle"
                                                                               aria-hidden="true" id="">
                                                                                <span class="tooltip">Enter the minimum bid amount to start the auction.</span>
                                                                            </i>
                                                                            {{ auction_form.starting_bid }}
                                                                        </div>
                                                                        <div class="form-group with-symbol">
                                                                            {{ auction_form.reserve_bid.label_tag }}
                                                                            <i class="fa fa-info-circle"
                                                                               aria-hidden="true" id="">
                                                                                <span class="tooltip">The reserve price is the minimum amount required for the item to be sold.</span>
                                                                            </i>
                                                                            {{ auction_form.reserve_bid }}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="tab-pane border-0 fade" id="buyItNow"
                                                                 role="tabpanel"
                                                                 aria-labelledby="buyItNow-tab">
                                                                <div class="">
                                                                    <div class="mb-2 fw-light fst-italic">The Listing
                                                                        Type
                                                                        Will Be Sale
                                                                    </div>

                                                                    <div class="form-group with-symbol">
                                                                        {{ auction_form.buyItNowPrice.label_tag }}
                                                                        <i class="fa fa-info-circle"
                                                                           aria-hidden="true" id="">
                                                                            <span class="tooltip">The sale price is the price at which the item will sell.</span>
                                                                        </i>
                                                                        {{ auction_form.buyItNowPrice }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="bid-row px-3">
                                                                <div id="qty-container">
                                                                    <div>
                                                                        {{ auction_form.quantity_available.label_tag }}
                                                                        <i class="fa fa-info-circle"
                                                                           aria-hidden="true" id="">
                                                                            <span class="tooltip">When the auction quantity is greater than one, all product packages must be full.</span>
                                                                        </i>
                                                                    </div>
                                                                    {{ auction_form.quantity_available }}
                                                                </div>
                                                                <div id="listing-duration">
                                                                    {{ auction_form.auction_duration.label_tag }}
                                                                    <i class="fa fa-info-circle"
                                                                       aria-hidden="true" id="">
                                                                        <span class="tooltip">Choose the number of days the auction will be active.</span>
                                                                    </i>
                                                                    {{ auction_form.auction_duration }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Page 1 -->

                                        <!-- Start Page 2 -->
                                        <div class="tab-pane fade main-tab" id="page2" role="tabpanel"
                                             aria-labelledby="page2-tab">
                                            <div class="">
                                                <h3 class="package-details-heading">Product Details</h3>
                                                <p class="border-bottom pb-2">
                                                    Please add as many details about the product as possible. A more
                                                    complete listing is more likely to sell faster.
                                                </p>
                                            </div>
                                            <div class="bid-detail" id="mfgPkg-info">
                                                <div class="">
                                                    {{ auction_form.manufacturer.label_tag }}
                                                    {{ auction_form.manufacturer }}
                                                </div>


                                                <div class="bid-row">
                                                    <div class="form-group">
                                                        {{ auction_form.package_type.label_tag }}
                                                        {{ auction_form.package_type }}
                                                    </div>
                                                    <div class="form-group" id="deviceSterile">
                                                        {{ auction_form.deviceSterile.label_tag }}
                                                        {{ auction_form.deviceSterile }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ auction_form.package_quantity.label_tag }}
                                                        {{ auction_form.package_quantity }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ auction_form.fullPackage.label_tag }}
                                                        {{ auction_form.fullPackage }}

                                                    </div>
                                                    <div class="form-group" id="partial-qty">
                                                        {{ auction_form.partial_quantity.label_tag }}
                                                        {{ auction_form.partial_quantity }}
                                                    </div>
                                                </div>
                                            </div>
                                            <h5 class="mt-5">Product Specific Details</h5>
                                            <p>Add the details below for each variation.</p>
                                            <!-- Product Detail Formset -->
                                            <div class="border-top" id="product-detail-formset">
                                                {{ product_detail_formset.management_form }}
                                                {% for form in product_detail_formset %}
                                                    <div class="product-detail-form my-3"
                                                         id="product-detail-container{{ forloop.counter0 }}"
                                                         data-form-index="{{ forloop.counter0 }}">
                                                        <!-- Column 1 -->
                                                        <div id="sku-field{{ forloop.counter0 }}"
                                                             class="form-group bid-scan-item">
                                                            <p id="sku-intro" hidden>When you create an auction and
                                                                enter a barcode, our
                                                                system automatically looks up detailed product
                                                                information for you. This helps ensure your listings are
                                                                accurate and saves you time by pre-filling key details.
                                                                You can review and edit the information as needed before
                                                                finalizing your auction. </p>
                                                            <label for="{{ form.sku.id_for_label }}"
                                                                   class="form-label">GTIN/SKU</label>
                                                            <input type="text"
                                                                   name="{{ form.sku.name }}"
                                                                   id="{{ form.sku.id_for_label }}"
                                                                   value="{{ form.sku.value|default_if_none:'' }}"
                                                                   class="form-control sku-input"
                                                                   required>
                                                            <div class="scan-control mobile-only">
                                                                <i class="fa-solid fa-qrcode"></i>
                                                                <i class="fa-solid fa-barcode"></i>
                                                                {#
                                                            </div>
                                                        </div>
                                                        <!-- Column 2 -->
                                                        <div class="form-group bid-scan-item">
                                                            <label for="{{ form.reference_number.id_for_label }}"
                                                                   class="form-label">Reference Number</label>
                                                            <input type="text"
                                                                   name="{{ form.reference_number.name }}"
                                                                   id="{{ form.reference_number.id_for_label }}"
                                                                   value="{{ form.reference_number.value|default_if_none:'' }}"
                                                                   class="form-control"
                                                                   required>
                                                            <div class="scan-control mobile-only">
                                                                <i class="fa-solid fa-qrcode"></i>
                                                                <i class="fa-solid fa-barcode"></i>
                                                            </div>
                                                        </div>
                                                        <!-- Column 3 -->
                                                        <div class="form-group bid-scan-item">
                                                            <label for="{{ form.lot_number.id_for_label }}"
                                                                   class="form-label">Lot Number</label>
                                                            <input type="text"
                                                                   name="{{ form.lot_number.name }}"
                                                                   id="{{ form.lot_number.id_for_label }}"
                                                                   value="{{ form.lot_number.value|default_if_none:'' }}"
                                                                   class="form-control">
                                                            <div class="scan-control mobile-only">
                                                                <i class="fa-solid fa-qrcode"></i>
                                                                <i class="fa-solid fa-barcode"></i>
                                                            </div>
                                                        </div>
                                                        <!-- Column 4 -->
                                                        <div class="form-group bid-scan-item">
                                                            <label for="{{ form.production_date.id_for_label }}"
                                                                   class="form-label">Production Date</label>
                                                            <input type="date"
                                                                   name="{{ form.production_date.name }}"
                                                                   id="{{ form.production_date.id_for_label }}"
                                                                   value="{{ form.production_date.value|default_if_none:'' }}"
                                                                   class="form-control">
                                                            <div class="scan-control mobile-only">
                                                                <i class="fa-solid fa-qrcode"></i>
                                                                <i class="fa-solid fa-barcode"></i>
                                                            </div>
                                                        </div>
                                                        <!-- Column 5 -->
                                                        <div class="form-group bid-scan-item">
                                                             <label for="{{ form.expiration_date.id_for_label }}"
                                                                   class="form-label">Expiration Date</label>
                                                            <input type="date"
                                                                   name="{{ form.expiration_date.name }}"
                                                                   id="{{ form.expiration_date.id_for_label }}"
                                                                   value="{{ form.expiration_date.value|default_if_none:'' }}"
                                                                   class="form-control">
                                                            
                                                            
                                                            <div class="scan-control mobile-only">
                                                                <i class="fa-solid fa-qrcode"></i>
                                                                <i class="fa-solid fa-barcode"></i>
                                                            </div>
                                                        </div>
                                                        {#                                                        <button type="button" class="btn btn-danger remove-form-row ">#}
                                                        {#                                                            Remove#}
                                                        {#                                                        </button>#}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            {#                                            <button type="button" id="add-product-detail" class="btn btn-info my-3 ">#}
                                            {#                                                Add Product Detail#}
                                            {#                                            </button>#}


                                        </div>
                                        <!-- End Page 2 -->

                                        <!-- Start Page 3 -->
                                        <div class="tab-pane fade main-tab" id="page3" role="tabpanel"
                                             aria-labelledby="page3-tab">
                                            <h3 class="package-details-heading">Photos</h3>
                                            {{ image_formset.management_form }}
                                            <div class="img-container">
                                                <div class="main-img">
                                                    <div class="img-thumbnail" id="main-img"
                                                         onclick="document.getElementById('id_form-0-image').click()">
                                                        <img id="thumbnail-preview-0" src="#" alt="Upload Icon"
                                                             style="display:none;"/>
                                                        <i class="fa-regular fa-image" id="upload-icon-0"></i>
                                                    </div>
                                                    <div style="display:none;">
                                                        {{ image_formset.forms.0.image.label_tag }}:
                                                        {{ image_formset.forms.0.image }}
                                                        {{ image_formset.forms.0.id }}
                                                    </div>
                                                </div>
                                                <div class="side-imgs">
                                                    {% for form in image_formset.forms %}
                                                        {% if forloop.counter0 > 0 %}
                                                            <div class="side-img">
                                                                <div class="img-thumbnail"
                                                                     onclick="document.getElementById('id_form-{{ forloop.counter0 }}-image').click()">
                                                                    <img id="thumbnail-preview-{{ forloop.counter0 }}"
                                                                         src="#" alt="Upload Icon"
                                                                         style="display:none;"/>
                                                                    <i class="fa-regular fa-image"
                                                                       id="upload-icon-{{ forloop.counter0 }}"></i>
                                                                </div>
                                                                <div style="display:none;">
                                                                    {{ form.image.label_tag }}:
                                                                    {{ form.image }}
                                                                    {{ form.id }}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Page 3 -->
                                        <div class="mt-3 pt-3 border-top">
                                            <button type="button" class="btn btn-secondary prev-tab">Previous</button>
                                            <button type="button" class="btn btn-primary next-tab">Next</button>
                                            <button type="button" class="btn btn-success" id="submit-btn">Save</button>
                                            <a href="{% url 'active_auctions_view' %}"
                                               class="btn btn-outline-danger">Cancel</a>
                                        </div>
                                    </div>
                                </div>

                            </form>


                            <!-- Modal Background -->
                            <div id="modal-bg" class="centered-modal-bg hidden-field">
                                <div class="centered-modal-content" id="centered-modal-content">
                                    <div class="modal-header border-bottom mb-3 pb-2">
                                        <h5 class="hidden-field modal-title" id="sku-info">Please enter a SKU/UDI to get
                                            started</h5>

                                        <div class="hidden-field modal-title" id="description-information">
                                            <h5 class="modal-title">Here's what we discovered</h5>
                                            <p>You are welcome to make changes or add new information.</p>
                                        </div>
                                        <div class="hidden-field modal-title" id="auction-type-modal-title">
                                            <h5 class="modal-title">Listing Type</h5>
                                            <p>Please select the type of listing you would like to post. You can choose
                                                between a traditional auction or an add to cart option.</p>
                                        </div>

                                        <!-- Close button -->
                                        <button type="button" class="btn-close" aria-label="Close"
                                                onclick="closeModal()"></button>
                                    </div>
                                    <div id="modal-content">
                                        <div id="placeholderEL"></div>
                                    </div>
                                    <div class="my-3" id="lookup-errors"></div>
                                    <div class="">
                                        <button id="next-modal-btn"
                                                class="btn btn-primary hidden-field">Next
                                        </button>
                                        <button id="close-modal-btn"
                                                class="btn btn-secondary hidden-field" onclick="closeModal()">Close
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <script>

                            </script>


                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    </div>


    <link href='{% static "css/styles.css" %}' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="{% static 'js/create_auction.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/dynamsoft-barcode-reader-bundle@10.2.1000/dist/dbr.bundle.js"></script>
    <script src="{% static 'js/scanner.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6-beta.14/inputmask.min.js"
            integrity="sha512-SF/1EBFQ9uIdO5cEddNUP9IxLkXwoSg2gMiDFvB8B3+oAB3T0uXctHvI0oK+xa8rps5wVV8fA9Lhdunzyz+oKw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            // Initialize date picker
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });

            // Event listener for tab shown event
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                let targetTab = $(e.target).attr("href"); // Get the target tab pane's selector
                console.log('Target Tab', targetTab);
                let firstEmptyInput = $(targetTab).find('input').filter(function () {
                    return !this.value; // Filter out inputs that are not empty
                }).first(); // Get the first empty input

                if (firstEmptyInput.length) {
                    firstEmptyInput.focus(); // Set focus to the first empty input
                }
                if (targetTab === 'page2') {
                    console.log('Page Dos');
                }
            });

            // On page load, animate the SKU/UDI field to the center and show the modal background
            setTimeout(function () {
                $('#sku-field0').prependTo('#modal-content');

                $('#centered-modal-content').css({
                    height: 'auto'  // Adjust as needed
                });

                // Add the 'show' class to trigger the CSS transform transition
                $('#centered-modal-content').addClass('show');

                $('#placeholderEL').prependTo('#product-detail-container0').height(57);
                $('#sku-info').removeClass('hidden-field');
                {#$('#close-modal').removeClass('hidden-field');#}
                $('#modal-bg').removeClass('hidden-field');
                $('#id_form-0-sku').focus();
            }, 500); // Delay to ensure everything is loaded properly
        });
    </script>


{% endblock %}
