{% extends 'new_base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Auctions | {{ title }} {% endblock %}

{% block body %}
    <div class="container">
        <!-- Breadcrumb Navigation -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'active_auctions_view' %}">Auctions</a></li>
                {% if category_name %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'active_auctions_view' %}?category_name={{ category_name }}">{{ category_name|titlecase }}</a>
                    </li>
                {% endif %}
                {% if title and title != 'Active Auctions' %}
                    <li class="breadcrumb-item active" aria-current="page">{{ title|titlecase }}</li>
                {% endif %}
            </ol>
        </nav>
        <div class="auctions-header-container">

            <!-- Page Heading -->
            <h1 class='h3 mb-4 text-gray-800'>{{ title|titlecase }} - {{ auctions_count }} Results</h1>
            <!-- Filters and Sorting -->
            <div class="filters mb-4">
                <form id="auction-filter-form" method="get" class="form-inline">
                    <div class="form-group mb-2">
                        <div class="dropdown">
                            <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                    type="button" id="time-filter"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter By: All Times
                            </button>
                            <div class="dropdown-menu" aria-labelledby="time-filter">
                                <a class="dropdown-item" href="#" data-value="">All Times</a>
                                <a class="dropdown-item" href="#" data-value="today">Today</a>
                                <a class="dropdown-item" href="#" data-value="tomorrow">Tomorrow</a>
                                <a class="dropdown-item" href="#" data-value="next_3_days">Next 3 Days</a>
                                <a class="dropdown-item" href="#" data-value="">Reset</a>
                            </div>
                        </div>
                        <input type="hidden" name="time_filter" id="time-filter-value">
                    </div>

                    <div class="form-group mb-2">
                        <div class="dropdown">
                            <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                    type="button" id="sort-by"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort By: Best Match
                            </button>
                            <div class="dropdown-menu" aria-labelledby="sort-by">
                                <a class="dropdown-item" href="#" data-value="">Best Match</a>
                                <a class="dropdown-item" href="#" data-value="ending_soonest">Ending Soonest</a>
                                <a class="dropdown-item" href="#" data-value="newly_listed">Newly Listed</a>
                                <a class="dropdown-item" href="#" data-value="price_highest">Price Highest</a>
                                <a class="dropdown-item" href="#" data-value="price_lowest">Price Lowest</a>
                                <a class="dropdown-item" href="#" data-value="fewest_bids">Fewest Bids</a>
                                <a class="dropdown-item" href="#" data-value="most_bids">Most Bids</a>
                                <a class="dropdown-item" href="#" data-value="">Reset</a>
                            </div>
                        </div>
                        <input type="hidden" name="sort_by" id="sort-by-value">
                    </div>

                    <div class="form-group mb-2">
                        <div class="dropdown">
                            <button class="btn border dropdown-toggle d-flex align-items-center justify-content-between"
                                    type="button" id="mfg-filter"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Manufacturer
                            </button>
                            <div class="dropdown-menu" aria-labelledby="mfg-filter">
                                <a class="dropdown-item" href="#" data-value="">Select Manufacturer</a>
                                {% for manufacturer in unique_manufacturers %}
                                    <a class="dropdown-item" href="#"
                                       data-value="{{ manufacturer }}">{{ manufacturer }}</a>
                                {% endfor %}
                                <a class="dropdown-item" href="#" data-value="">Reset</a>
                            </div>
                        </div>
                        <input type="hidden" name="mfg_filter" id="mfg-filter-value">
                    </div>
                </form>

            </div>
        </div>

        <div class='mb-4'>
            <div class='card-body'>


                <div class='col align-items-center'>
                    {% for auction in pages %}
                        <div class='col mb-5'>

                            <div class='listing'>
                                <a class='auction-card text-decoration-none'
                                   href="{% url 'auction_details_view' auction.id %}">
                                    <!-- Product image-->
                                    <div class='auction_image_first d-flex justify-content-center'>
                                        <div class='auction_image_second'>
                                            <img class='auction_image_third'
                                                 src="{{ auction.image.image.url|default:'../static/images/no_image.png' }}"
                                                 alt='Product image'>
                                        </div>
                                    </div>

                                    <!-- Product details-->

                                    <div class='card-body p-3'>

                                        <div class='text-left'>
                                            <!-- Product name-->
                                            <div class='auction-title'>{{ auction.title }}</div>
                                            <div class="display-8">{{ auction.category }}</div>

                                            <h3>
                                                <div class="two-grid-auto-columns mt-2 auction-price">
                                                    <!-- Product price-->
                                                    {% if auction.current_bid %}
                                                        ${{ auction.current_bid }}
                                                    {% else %}
                                                        ${{ auction.starting_bid }}
                                                    {% endif %}
                                                </div>
                                            </h3>
                                            <div class='two-grid-auto-columns'>
                                                <div class="lead time-remaining">{{ auction.formatted_time_remaining }}
                                                    Remaining
                                                </div>
                                            </div>
                                            <div class="two-grid-auto-columns mt-1">
                                                <div class="">Quantity:</div>
                                                <div>{{ auction.quantity_available }}</div>
                                            </div>
                                            <div class="d-flex gap-1 mt-1" id="auction-attributes">
                                                {% if auction.udi %}
                                                    <div class="">UDI:</div>
                                                    <div>{{ auction.udi }},</div>
                                                {% endif %}

                                                {% if auction.reference_number %}
                                                    <div class="">Reference#</div>
                                                    <div>{{ auction.reference_number }},</div>
                                                {% endif %}

                                                {% if auction.lot_number %}
                                                    <div class="">Lot#</div>
                                                    <div>{{ auction.lot_number }},</div>
                                                {% endif %}

                                                {% if auction.expiration_date %}
                                                    <div class="">Exp Date:</div>
                                                    <div>{{ auction.expiration_date }}</div>
                                                {% endif %}
                                            </div>

                                            <!-- Display watchers and bids count -->
                                            <div class="d-flex gap-1 mt-1" id="auction-stats">
                                                <div>Watchers: {{ auction.watchers.count }}</div>
                                                <div>Bids: {{ auction.bid_set.count }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% if user.is_authenticated %}


                                    <div class="bid-form pe-3">
                                        <h5>Place Your Bid</h5>
                                        <div class='form-group'>
                                            <form action="{% url 'auction_bid' auction.id %}" method='POST'>
                                                {% csrf_token %}
                                                <div class='form-group with-symbol extra-m'>
                                                    {{ bid_form }}
                                                    <br>
                                                    <button type='submit' class='btn btn-primary'>
                                                        Place a bid
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                {% endif %}
                        </div>
                    {% endfor %}

                    {% if pages.has_other_pages %}
                        <div class='d-flex justify-content-center'>
                            <ul class='pagination'>
                                {% if pages.has_previous %}
                                    <li class='page-item'>
                                        <a class='page-link' href='?page={{ pages.previous_page_number }}'>
                                            &laquo;
                                        </a>
                                    </li>
                                {% else %}
                                    <li class='page-item disabled'>
                                        <a class='page-link' href='#'>&laquo;</a>
                                    </li>
                                {% endif %}
                                {% for i in pages.paginator.page_range %}
                                    {% if pages.number == i %}
                                        <li class='page-item active'>
                                            <a class='page-link' href='#'>{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li class='page-item'>
                                            <a class='page-link' href='?page={{ i }}'>{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if pages.has_next %}
                                    <li class='page-item'>
                                        <a class='page-link' href='?page={{ pages.next_page_number }}'>
                                            &raquo;
                                        </a>
                                    </li>
                                {% else %}
                                    <li class='page-item disabled'>
                                        <a class='page-link' href='#'>&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <link href='{% static "css/auctions_view.css" %}' rel='stylesheet'>
    <script src='{% static "js/auctions_active.js" %}'></script>
{% endblock %}
