<!-- category_snippet.html -->
{#{% if category.count_active_auctions %}#}
    <li>
        <a class='nav-link categories d-flex align-items-center' href="{% url 'active_auctions_view'%}?category_name={{ category.category_name }}">
            <div class='text-capitalize'>{{ category }} - <span class="badge text-dark">{{ category.count_active_auctions }}</span></div>
            
        </a>
        {% if category.subcategories.all %}
            <ul>
                {% for subcategory in category.subcategories.all %}
                    {% include 'category_snippet.html' with category=subcategory %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{#{% endif %}#}
