{% load static %}
{% load custom_filters %}

<header class="border-bottom pb-3 mb-5">
{#    <div class="beta-notice">#}
{#        <div class="text-white">We're putting the final touches on something incredible. Our full site goes live very soon!</div>#}
{#    </div>#}
    <div class="section border-bottom">
        <div class="container" id="header_container">
            {% if user.is_authenticated %}
                <div class="dropdown" id="logged-in-dropdown">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Hi <b>{{ user.first_name }}!</b>
                    </button>
                    <ul class="dropdown-menu p-2">
                        <li>
                            <div class="dropdown-item d-flex">
                                <div class="d-flex flex-row justify-content-start align-items-center">
                                    <i class="fas fa-user m-1" id="user-icon"></i>
                                    <div class="m-1">{{ user.first_name }} {{ user.last_name }}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-item d-flex">
                                <div class="d-flex flex-row justify-content-start align-items-center">
                                    <i class="fa-solid fa-id-badge m-1" id="user-icon"></i>
                                    <div class="m-1">{{ user.username }}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="{% url 'logout' %}">
                                <div class="d-flex flex-row justify-content-start align-items-center">
                                    <i class="fas fa-sign-out-alt m-1"></i>

                                    <div class="m-1">Log Out</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center justify-content-center" id="header-nav-conatiner">
                    <!-- Nav Item - Buy -->
                    <div class="nav-item pe-3">
                        <a class='nav-link' href="{% url 'active_auctions_view' %}">Buy</a>
                    </div>
                    <!-- Nav Item - Sell -->
                    <div class="nav-item pe-1">
                        <a class='nav-link' href="{% url 'auction_create' %}">Sell</a>
                    </div>
                    <!-- Nav Item - Watchlist -->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Watchlist
                        </button>
                        <div class="dropdown-menu dropdown-menu-end shadow p-2">
                            <div class="mini-watchlist">
                                {% if watchlist %}
                                    {% for auction in watchlist %}
                                        <a class="mini-watchlist-item"
                                           href="{% url 'active_auctions_with_id' auction.id %}">
                                            {% if auction.image %}
                                                <img src="{{ auction.image.image.url }}" alt="{{ auction.title }}">
                                            {% else %}
                                                <img src="{% static 'images/no_image.png' %}" alt="Default Image">
                                            {% endif %}
                                            <div>
                                                <h6 class="text-uppercase">{{ auction.title|truncatechars:30 }}</h6>
                                                <h3>
                                                    {% if auction.current_bid %}
                                                        ${{ auction.current_bid }}
                                                        <div class="fs-6 fw-light fst-italic">Current Bid</div>
                                                    {% else %}
                                                        ${{ auction.starting_bid }}
                                                        <div class="fs-6 fw-light fst-italic">Starting Bid</div>
                                                    {% endif %}
                                                    <div class="lead fs-6 time-remaining">{{ auction.formatted_time_remaining }}
                                                        Remaining
                                                    </div>
                                                </h3>
                                                <div class='btn btn-secondary mt-auto rounded watch-button'
                                                     onclick="window.location.href='{% url 'watchlist_edit' auction.id 'index' %}'">
                                                    <i class="fa-solid fa-eye-slash"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    {% endfor %}
                                {% else %}
                                    <div class="text-center p-3">
                                        <p class="mb-0">Your watchlist is currently empty.</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Discover -->
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Discover
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end p-2 shadow" id="discover-drop-menu">
                            <li class='nav-item p-2'>
                                <a class='nav-link' href="{% url 'active_auctions_view' %}?sort_by=ending_soonest">
                                    All Listings
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class='nav-item p-2'>
                                <a class='nav-link' href="{% url 'active_auctions_view' %}?my_auctions=true">
                                    My Listings
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item p-2">
                                <a class='nav-link' href="{% url 'active_auctions_view' %}?recent_views=1">
                                    Recently Viewed Listings
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class='nav-item p-2'>
                                <a class='nav-link' href="{% url 'auction_create' %}">
                                    Post a Listing
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class='nav-item p-2'>
                                <a class='nav-link' href="{% url 'import_excel' %}">
                                    Import Listings
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class='nav-item p-2'>
                                <a class='nav-link' href="{% url 'dashboard' %}">
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class='nav-item p-2'>
                                <a class='nav-link' href="{% url 'inbox' %}">
                                    Messages
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="nav-item p-2">
                                <a class='nav-link' href="{% url 'dashboard' %}">Purchase History</a>
                            </li>


                        </ul>
                    </div>
                    <!-- Nav Item - View Cart -->
                    <div class="nav-item pe-1 mx-1">
                        <a class='nav-link' href="{% url 'view_cart' %}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            {% if cart_count > 0 %}
                                <span class='cart badge rounded-pill bg-danger badge-counter light'>{{ cart_count }} </span>
                            {% endif %}
                        </a>
                    </div>
{#                    <!-- Nav Item - Alerts -->#}
{#                    {% if unread_message_count %}#}
{#                        <div class='nav-item mx-1'>#}
{#                            <a class='nav-link' id="alert-container" href='{% url 'inbox' %}'>#}
{#                                <i class="fa-regular fa-message"></i>#}
                                {#                                <i class='fa-regular fa-bell fa-lg'></i>#}
{#                                <!-- Counter - Alerts -->#}
{#                                <span class='badge rounded-pill bg-danger badge-counter light'>{{ unread_message_count }} </span>#}
{#                            </a>#}
{#                        </div>#}
{#                    {% endif %}#}
                </div>
            {% else %}
                <div class="dropdown" id="logged-in-dropdown">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Login / Register
                    </button>
                    <ul class="dropdown-menu p-2">
                        <li>
                            <a class="dropdown-item d-flex" href="{% url 'login' %}">
                                <div class="d-flex flex-row justify-content-start align-items-center">
                                    <i class="fas fa-sign-out-alt m-1"></i>

                                    <div class="m-1">Log In</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="{% url 'register' %}">
                                <div class="d-flex flex-row justify-content-start align-items-center">
                                    <i class="fas fa-sign-out-alt m-1"></i>

                                    <div class="m-1">Register</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="section mt-3">
        <div class="container" id="lower-header-container">
            <a class="logo" id="logo-container" href="{% url 'index' %}">
                <img src="{% static "images/logo.png" %}" alt="Healthcare Auctions Logo">
                <div class="logo-text">
                    <div>Healthcare</div>
                    <div>Auctions</div>
                </div>
            </a>
            {#            <div class="dropdown" id="category-dropdown">#}
            {#                <button class="btn dropdown-toggle wrap-button" type="button" data-bs-toggle="dropdown"#}
            {#                        aria-expanded="false">#}
            {#                    Shop By Specialty#}
            {#                </button>#}
            {#                <ul class="dropdown-menu p-2" id="category-dropdown-content">#}
            {#                    {% for specialty in specialties %}#}
            {#                        <li>#}
            {#                            <a class='nav-link categories d-flex align-items-center'#}
            {#                               href="{% url 'active_auctions_view' %}?specialty={{ specialty.description }}">#}
            {#                                <div class='text-capitalize'>{{ specialty.description }} - <span#}
            {#                                        class="badge text-dark">{{ specialty.count_active_auctions }}</span></div>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <div class="border-bottom pb-1 mb-1"></div>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#            </div>#}
            <form id="filter-form" method="get" class="" action="{% url 'active_auctions_view' %}">
                <div class="input-group">
                    <!-- Search Icon -->
                    <label class="input-group-text border-right-0 position-relative">
                        <i class="fas fa-search"></i>
                    </label>
                    <!-- Search Input -->
                    <input type="text" class="form-control border-left-0" id="auction-search" name="search_query"
                           placeholder="Search..." aria-label="Search">
                    <!-- Manufacturer Dropdown -->
                    <select class="selectpicker custom-select" name="mfg_filter" data-width="fit" data-size="6"
                            data-live-search="true" data-dropdown-align-right="true">
                        <option selected value="">All Manufacturers</option>
                        {% for manufacturer in manufacturers_with_auctions %}
                            <option style="right:0" value="{{ manufacturer }}">{{ manufacturer }}</option>
                        {% endfor %}
                    </select>

                    <!-- Search Button -->
                    <button class="btn btn-primary" id="search-button" type="submit">Search</button>
                </div>
            </form>


        </div>
    </div>
    
</header>

<link href='{% static "css/header.css" %}' rel='stylesheet'>
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('.selectpicker').selectpicker({#}
{#            size: 6, // Number of options to display without scrolling#}
{#            width: '100%' // Ensures the dropdown matches the select width#}
{#        });#}
{#    });#}
{#</script>#}





