{% extends 'new_base.html' %}
{% load static %}
{% block title %}Auctions | {{ title }} {% endblock %}

{% block body %}
    <meta name="csrf-token" content="{{ csrf_token }}">

    <div class="container">
        <div class="sub-container">
            <h2 id="import-header">Effortless Bulk Listings, Simplified for You</h2>
            <p>

                Creating multiple auction listings has never been easier! With our streamlined import tool, you can
                upload
                all your auction items in one go. Simply prepare your data in our user-friendly Excel template, map your
                fields, and we'll handle the rest. Whether you're listing a handful of items or managing a large
                inventory,
                our system is designed to save you time and ensure accuracy, so you can focus on what really
                matters—selling
                your products!
            </p>


            <p>If you prefer to use our pre-formatted template to get started, you can download it below. The
                template includes the correct headings for automatic column mapping.</p>

            <div class="import-container mt-5">
                <div class="infographic card">
                    <div class="step" id="step1">
                        <i class="fa fa-file-excel" aria-hidden="true"></i>
                        <h5>Step 1: Select Your File</h5>
                        <p>Choose your Excel file with the auction data.</p>
                        <div id="file-input">
                            <input type="file" id="fileInput" accept=".xlsx, .xls, .csv" class="form-control" required>
                        </div>
                    </div>
                    <div class="step" id="step2">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        <h5>Step 2: Map Your Columns</h5>
                        <p>Match your Excel columns to the auction fields.</p>
                        <button type="button" class="btn btn-primary" id="mapColumnsBtn" disabled>Map Columns</button>
                    </div>
                    <div class="step" id="step3">
                        <i class="fa fa-image" aria-hidden="true"></i>
                        <h5>Step 3: Add Images</h5>
                        <p>Upload images to showcase your listings.</p>
                        <button type="button" class="btn btn-primary" id="addImgBtn" disabled>Add Images</button>
                    </div>
                    <div class="step" id="step4">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <h5>Step 4: Done!</h5>
                        <p>Review and submit to get your auctions live!</p>
                        <button type="submit" class="btn btn-primary mx-auto" id="import-button" disabled>Import
                        </button>
                    </div>
                </div>
            </div>

            <div class="my-5 d-flex align-items-center justify-content-center">
                <a id="sample-file" href="{% url 'download_excel' %}" class="btn btn-secondary btn-lg">
                    <i class="fa fa-download" aria-hidden="true"></i> Download Sample Excel File
                </a>
            </div>


            <!-- Import Modal -->
            <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="importModalLabel"></h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="importForm">

                                <div id="mappingModal">
                                    <div id="mappingContainer" style="display:none;">

                                        <p>Almost there! Just match each of your spreadsheet's columns on the left with
                                            the corresponding auction field on the right to ensure everything lands in
                                            the right place. We'll add pictures next.</p>

                                        <table class="table mt-4">
                                            <thead>
                                            <tr>
                                                <th>File Header</th>
                                                <th></th>
                                                <th>Auction Field</th>
                                            </tr>
                                            </thead>
                                            <tbody id="mappingTable">
                                            <!-- Dynamic Rows -->
                                            </tbody>
                                        </table>
                                        <div id="closeMappingModal" class="btn btn-primary">Okay</div>
                                    </div>
                                </div>

                                <div id="import-mapping">
                                    <div id="previewContainer" style="display:none;">
                                        <h3>Preview & Add Images</h3>
                                        <div id="table-container">
                                            <table class="table mt-4" id="previewTable">
                                                <thead id="previewTableHead">
                                                <!-- Dynamic Headers -->
                                                </thead>
                                                <tbody id="previewTableBody">
                                                <!-- Dynamic Rows -->
                                                </tbody>
                                            </table>
                                        </div>
                                        <button type="button" class="btn btn-primary" id="closeAddImgBtn">Done</button>

                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image Uploads -->
    <div id="imageUploadModal" class="modal modal-md">
        <div class="modal-content" id="image-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-images-header">Add Images</h5>
                <button type="button" id="closeImageModal" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>

            </div>
            <div class="p-5 pt-2">
                <div id="imageUploadContainer">
                    <!-- Dynamic Image Inputs -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src='{% static "js/import_excel.js" %}'></script>
    <link href='{% static "css/import.css" %}' rel='stylesheet'>

{% endblock %}