{% extends 'new_base.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="row">
            <h5>Your Messages</h5>
            <div class="col-md-4 rounded-3 border p-3 pt-3" id="messages-col">
                {% if threads %}
                    <ul class="list-group" id="message-list">
                        {% for thread in threads %}
                            <li class="list-group-item {% if not thread.is_read %}new-message{% endif %} {% if forloop.first %}active{% endif %}"
                                id="message-{{ thread.id }}"
                                onclick="showMessage({{ thread.id }})">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-column justify-content-between">
                                        <span>{{ thread.subject }}</span>
                                        <span class="date-sent fst-italic ">{{ thread.date_sent|date:"M d, Y" }}</span>
                                    </div>
                                    <button class="fs-5 fw-normal btn custom-archive-btn"
                                            data-bs-toggle="tooltip"
                                            title="Archive"
                                            data-message-id="{{ thread.id }}">
                                        <i class="fa-solid fa-box-archive"></i>
                                    </button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-center text-muted py-5">
                        <i class="fa-solid fa-envelope-open-text fa-3x mb-3"></i>
                        <h4>No Messages</h4>
                        <p>It looks like you don't have any messages at the moment.</p>
                        <p>Once you start bidding or receive inquiries, you'll see them here.</p>
                        <p>You can contact customer service using the message window.</p>

                    </div>
                {% endif %}
                <button class="btn btn-secondary mt-3" id="cs-button" onclick="contactCustomerService()"
                        style="{% if not threads %}display:none;{% endif %}">Contact
                    Customer Service
                </button>

            </div>


            <div class="col-md-8">
                {% if threads %}
                    <div id="message-preview" class="rounded-3 border p-3">
                        {% for thread in threads %}
                            <div id="message-content-{{ thread.id }}" class="message-content"
                                 style="display: {% if forloop.first %}block{% else %}none{% endif %};">
                                <h5 class="border-bottom pb-3">{{ thread.subject }}</h5>
                                <div class="message-thread">
                                    {% for reply in thread.get_thread.reverse %}
                                        {% if reply.message_type == 'question' %}
                                            <div class="message-reply p-2 my-2 card {% if reply.sender_id == request.user.id %}text-end{% else %}text-start{% endif %}">
                                                <div class="">{{ reply.body }}</div>
                                                <small class="text-muted">{% if reply.sender_id == request.user.id %}
                                                    Me{% elif reply.sender.username  == 'CustomerService' %}Customer
                                                    Service{% else %}Buyer{% endif %}
                                                    - {{ reply.date_sent }}</small>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for reply in thread.get_thread %}
                                        {% if reply.message_type != 'question' %}
                                            <div class="message-reply p-2 my-2 card {% if reply.sender_id == request.user.id %}text-end{% else %}text-start{% endif %}">
                                                <div class="">{{ reply.body }}</div>
                                                <small class="text-muted">{% if reply.sender_id == request.user.id %}
                                                    Me{% elif reply.sender.username  == 'CustomerService' %}Customer
                                                    Service{% else %}Buyer{% endif %}
                                                    - {{ reply.date_sent }}</small>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <form class="submitForm" method="post" action="{% url 'send_reply' thread.id %}">
                                    {% csrf_token %}
                                    <div class="form-group mt-3 ">
                                    <textarea name="reply" class="form-control" rows="3"
                                              placeholder="Write your reply..." maxlength="1000"></textarea>

                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <small id="charCount" class="form-text text-muted ps-1">0/1000 characters
                                            used</small>
                                        <button type="submit" class="btn btn-primary mt-2">Send Reply</button>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}


                    </div>
                {% endif %}

                <!-- CUSTOMER SERVICE FORM -->
                <div id="customer-service-form" class="message-content rounded-3 border p-3"
                     style="{% if threads %}display:none;{% endif %}">
                    <h5 class="border-bottom pb-3">Contact Customer Service</h5>
                    <div class="message-thread"></div>
                    <form class="submitForm" method="post" action="{% url 'send_customer_service_message' %}">
                        {% csrf_token %}
                        <div class="form-group mt-3">
                                <textarea name="reply" class="form-control" rows="3"
                                          placeholder="Describe your issue..." maxlength="1000"></textarea>
                        </div>
                        <div class="d-flex justify-content-between">
                            <small id="charCount" class="form-text text-muted ps-1">0/1000 characters used</small>
                            <button type="submit" class="btn btn-primary mt-2">Send to Customer Service</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
    <link href='{% static "css/inbox.css" %}' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/inbox.js' %}"></script>
{% endblock %}
