{% extends 'new_base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Auctions | {{ title }} {% endblock %}

{% block links %}
    <script id="cookieyes" type="text/javascript"
            src="https://cdn-cookieyes.com/client_data/df1073b472fdc497671c74e5/script.js"></script>
    <link href='{% static "css/index.css" %}' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
{% endblock %}


{% block body %}
    <div class="container p-0">

        <section class="hero">
            {% include 'hero.html' %}
        </section>
        {#     <section class="hero">#}
        {#            {% include 'featured_auctions.html' %}#}
        {#        </section>#}


        <!-- HTML for Featured Auctions Section -->

        <div class="featured-auctions container my-5">
            <h2 class="text-center">Featured Listings</h2>
            <div class="row p-2">
                <!-- Main Featured Auction (Larger Highlight) -->
                <div class="col-lg-6 col-md-12 mb-4" id="featured-main">
                    <div class="featured-item main-featured me-2">
                        <a class="featured-link" href="{% url 'active_auctions_with_id' featured_listings.0.id %}">
                            <div class="image-container h-100">
                                {% if featured_listings.0.get_images.first %}
                                    <img class="prerandom_listings0-img w-100 h-100"
                                         src="{{ featured_listings.0.get_images.first.image.url }}"
                                         alt="{{ featured_listings.0.title }}">
                                {% else %}
                                    <img class="prerandom_listings.0-img w-100 h-100"
                                         src="{% static 'images/no_image.png' %}" alt="Default Image">
                                {% endif %}
                            </div>
                            <div class="content main-content h-100 p-3">
                                <h3 class="uppercase">{{ featured_listings.0.title|capitalize_all|truncatechars:30 }}</h3>
                                {#                                <p class="category">{{ random_listings.0.category }}</p>#}
                                <p class="category">{{ featured_listings.0.description|truncatechars:200 }}</p>
                                {% if featured_listings.0.auction_type == 'Auction' %}
                                    <div class="time-remaining">{{ featured_listings.0.formatted_time_remaining }}
                                        Remaining
                                    </div>
                                    <div class="price-info">
                                        {% if featured_listings.0.current_bid %}
                                            <span class="btn btn-outline-dark">Current Bid</span>
                                            <span class="main-price">${{ featured_listings.0.current_bid }}</span>
                                        {% else %}
                                            <span class="btn btn-outline-dark">Starting Bid</span>
                                            <span class="main-price">${{ featured_listings.0.starting_bid }}</span>

                                        {% endif %}
                                    </div>

                                {% else %}
                                    <div class="price-info">
                                        <span class="btn btn-outline-dark">Get it Now</span>
                                        <span class="main-price">${{ featured_listings.0.buyItNowPrice }}</span>

                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Smaller Highlight Auctions -->
                <div class="col-lg-6 col-md-12">
                    <div class="row me-1">
                        <div class="col-md-6 col-sm-6 mb-3 p-0 pe-2" id="featured-small1">
                            <div class="featured-item sub-featured">
                                <a class="featured-link"
                                   href="{% url 'active_auctions_with_id' featured_listings.1.id %}">
                                    <div class="image-container h-100">
                                        {% if featured_listings.1.get_images.first %}
                                            <img class="prerandom_listings-img-small"
                                                 src="{{ featured_listings.1.get_images.first.image.url }}"
                                                 alt="{{ featured_listings.1.title }}">
                                        {% else %}
                                            <img class="prerandom_listings-img-small"
                                                 src="{% static 'images/no_image.png' %}" alt="Default Image">
                                        {% endif %}
                                    </div>
                                    <div class="content sub-featured-content p-3">
                                        <h5 class="uppercase">{{ featured_listings.1.title|capitalize_all|truncatechars:30 }}</h5>
                                        <p class="category">{{ featured_listings.1.category|truncatechars:30 }}</p>

                                        {% if featured_listings.1.auction_type == 'Auction' %}
                                            <div class="price-info">
                                                {% if featured_listings.1.current_bid %}
                                                    <span class="">Current Bid</span>
                                                    <span class="main-price">${{ featured_listings.1.current_bid }}</span>
                                                {% else %}
                                                    <span class="">Starting Bid</span>
                                                    <span class="main-price">${{ featured_listings.1.starting_bid }}</span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="price-info">
                                                <span class="">Get it Now</span>
                                                <span class="main-price">${{ featured_listings.1.buyItNowPrice }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 mb-3 p-0 ps-2" id="featured-small2">
                            <div class="featured-item sub-featured">
                                <a class="featured-link"
                                   href="{% url 'active_auctions_with_id' featured_listings.2.id %}">
                                    <div class="image-container h-100">
                                        {% if featured_listings.2.get_images.first %}
                                            <img class="prerandom_listings-img-small"
                                                 src="{{ featured_listings.2.get_images.first.image.url }}"
                                                 alt="{{ featured_listings.2.title }}">
                                        {% else %}
                                            <img class="prerandom_listings-img-small"
                                                 src="{% static 'images/no_image.png' %}" alt="Default Image">
                                        {% endif %}
                                    </div>
                                    <div class="content sub-featured-content p-3">
                                        <h5 class="uppercase">{{ featured_listings.2.title|capitalize_all|truncatechars:30 }}</h5>
                                        <p class="category">{{ featured_listings.2.category|truncatechars:30 }}</p>
                                        {% if featured_listings.2.auction_type == 'Auction' %}
                                            <div class="price-info">
                                                {% if featured_listings.2.current_bid %}
                                                    <span class="">Current Bid</span>
                                                    <span class="main-price">${{ featured_listings.2.current_bid }}</span>
                                                {% else %}
                                                    <span class="">Starting Bid</span>
                                                    <span class="main-price">${{ featured_listings.2.starting_bid }}</span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="price-info">
                                                <span class="">Get it Now</span>
                                                <span class="main-price">${{ featured_listings.2.buyItNowPrice }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="col-12 p-0 mb-4">
                            <div class="featured-item sub-featured-horizontal">
                                <a class="featured-link"
                                   href="{% url 'active_auctions_with_id' featured_listings.3.id %}">
                                    <div class="image-container h-100">
                                        {% if featured_listings.3.get_images.first %}
                                            <img class="prerandom_listings-img3"
                                                 src="{{ featured_listings.3.get_images.first.image.url }}"
                                                 alt="{{ featured_listings.3.title }}">
                                        {% else %}
                                            <img class="prerandom_listings-img3"
                                                 src="{% static 'images/no_image.png' %}" alt="Default Image">
                                        {% endif %}
                                    </div>
                                    <div class="content p-3">
                                        <h4 class="uppercase">{{ featured_listings.3.title|capitalize_all|truncatechars:30 }}</h4>
                                        <p class="category">{{ featured_listings.3.category }}
                                        </p>
                                        {% if featured_listings.3.auction_type == 'Auction' %}
                                            <div class="time-remaining">{{ featured_listings.3.formatted_time_remaining }}
                                                Remaining
                                            </div>
                                            <div class="price-info">
                                                {% if featured_listings.3.current_bid %}
                                                    <span class="btn btn-outline-dark">Current Bid</span>
                                                    <span class="main-price">${{ featured_listings.3.current_bid }}</span>
                                                {% else %}
                                                    <span class="btn btn-outline-dark">Starting Bid</span>
                                                    <span class="main-price">${{ featured_listings.3.starting_bid }}</span>
                                                {% endif %}
                                            </div>

                                        {% else %}
                                            <div class="price-info">
                                                <span class="btn btn-outline-dark">Get it Now</span>
                                                <span class="main-price">${{ featured_listings.3.buyItNowPrice }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="container desktop-only alert alert-info mb-5">
            <div class="text-center text-muted">
                <strong>Better On Mobile</strong>
                <p>
                    We see you are on our desktop site. Did you know you can use your mobile device to automatically
                    create a listing
                    with our QR/Barcode code scanner?
                </p>
            </div>
        </section>

        <section class="featured-auctions container">
            {#            {% if user.is_authenticated %}#}
            {#                {% if recent_views %}#}
            {#                    <div class="auctions-category mb-5">#}
            {#                        <h2>#}
            {#                            <a href="{% url 'active_auctions_view' %}?recent_views=1">Recently Viewed</a>#}
            {#                        </h2>#}
            {#                        <div class="auction-items grid pt-3">#}
            {#                            {% for view in recent_views %}#}
            {#                                {% include '_auction_listing_small.html' %}#}
            {#                            {% endfor %}#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endif %}#}
            {#                {% if watchlist %}#}
            {#                    <div class="auctions-category mb-5">#}
            {#                        <h2>#}
            {#                            <a href="{% url 'active_auctions_view' %}?watchlist=1">My Watchlist</a>#}
            {#                        </h2>#}
            {#                        <div class="auction-items grid pt-3">#}
            {#                            {% for view in watchlist %}#}
            {#                                {% include '_auction_listing_small_a.html' %}#}
            {#                            {% endfor %}#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endif %}#}
            {#            {% endif %}#}
            <h2 class="text-center">Popular Listings</h2>
            <div class="auction-items container pt-3">
                <div class="row">
                    {% for view in random_listings %}
                        <div class="col-md-3 mb-4">
                            {% include '_auction_listing_small_a.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>


            {#            <div class="auctions-category mb-5">#}
            {#                <h2>#}
            {#                    <a href="{% url 'active_auctions_view' %}?category_name={{ auctions_cat1_name|urlencode }}">{{ auctions_cat1_name }}</a>#}
            {#                </h2>#}
            {##}
            {#                <h2>{{ auctions_cat1_name }}</h2>#}
            {#                <div class="auction-items grid pt-3">#}
            {#                    {% for view in auctions_cat1 %}#}
            {#                        {% include '_auction_listing_small_a.html' %}#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="auctions-category mb-5">#}
            {#                <h2>#}
            {#                    <a href="{% url 'active_auctions_view' %}?category_name={{ auctions_cat2_name|urlencode }}">{{ auctions_cat2_name }}</a>#}
            {#                </h2>#}
            {#                <div class="auction-items grid pt-3">#}
            {#                    {% for view in auctions_cat2 %}#}
            {#                        {% include '_auction_listing_small_a.html' %}#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
        </section>

        <div class="container p-0">
            <div class="call-to-action d-flex align-items-center justify-content-center" id="footer-cta">
                <div class="content">
                    <h2 class="mb-3">Ready to Start Bidding and Shopping?</h2>
                    <p class="mb-4">Join us today to participate in exciting auctions and browse exclusive sales on
                        top-quality healthcare equipment.</p>
                    <div class="d-flex flex-column flex-md-row gap-3 justify-content-center">
                        <a href="{% url 'register' %}" class="btn btn-light btn-lg">
                            Sign Up Now <i class="fas fa-user-plus ms-2"></i>
                        </a>
                        <a href="{% url 'active_auctions_view' %}" class="btn btn-outline-light btn-lg">
                            Browse Listings <i class="fas fa-search ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <style>

    </style>
{% endblock %}



