{% extends 'new_base.html' %}
{% load static %}
{% block title %}Auctions | {{ title }} {% endblock %}

{% block links %}
    <link href='{% static "css/index.css" %}' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
{% endblock %}


{% block body %}
    <div class=container style="padding: 0;">
        <section class="hero">
            {% include 'hero.html' %}
        </section>


        <section class="featured-auctions">
            {% if user.is_authenticated %}
                <div class="auctions-category">
                    <h2>Your Watchlist</h2>
                    <div class="auction-items grid">
                        {% for auction in watchlist %}
                            <a class="auction-item" href="{% url 'auction_details_view' auction.id %}">
                                {% if auction.image %}
                                    <img src="{{ auction.image.image.url }}" alt="{{ auction.title }}">
                                {% else %}
                                    <img src="path/to/default/image.jpg" alt="Default Image">
                                {% endif %}
                                <h3>{{ auction.title }}</h3>
                                <p>{{ auction.category }}</p>
                                <h3>
                                    <!-- Product price-->
                                    {% if auction.current_bid %}
                                        ${{ auction.current_bid }}
                                    {% else %}
                                        ${{ auction.starting_bid }}
                                    {% endif %}
                                </h3>
                                <button class='btn btn-outline-success mt-auto rounded'
                                        data-auction-id="{{ auction.id }}">
                                    {% if auction.is_watched %}
                                        <i class="fa-solid fa-eye"></i>
                                    {% else %}
                                        <i class="fa-regular fa-eye"></i>
                                    {% endif %}
                                </button>
                            </a>

                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="auctions-category">
                <h2>{{ random_category1 }}</h2>
                <div class="auction-items grid">
                    {% for auction in pages_cat1 %}
                        <a class="auction-item" href="{% url 'auction_details_view' auction.id %}">
                            {% if auction.image %}
                                <img src="{{ auction.image.image.url }}" alt="{{ auction.title }}">
                            {% else %}
                                <img src="path/to/default/image.jpg" alt="Default Image">
                            {% endif %}
                            <h3>{{ auction.title }}</h3>
                            <p>{{ auction.category }}</p>
                            <h3>
                                <!-- Product price-->
                                {% if auction.current_bid %}
                                    ${{ auction.current_bid }}
                                {% else %}
                                    ${{ auction.starting_bid }}
                                {% endif %}
                            </h3>

                            <button class='btn btn-outline-success mt-auto rounded'
                                    data-auction-id="{{ auction.id }}">
                                {% if auction.is_watched %}
                                    <i class="fa-solid fa-eye"></i>
                                {% else %}
                                    <i class="fa-regular fa-eye"></i>
                                {% endif %}
                            </button>

                        </a>
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>
            <div class="auctions-category">
                <h2>{{ random_category2 }}</h2>
                <div class="auction-items grid">
                    {% for auction in pages_cat2 %}
                        <a class="auction-item" href="{% url 'auction_details_view' auction.id %}">
                            {% if auction.image %}
                                <img src="{{ auction.image.image.url }}" alt="{{ auction.title }}">
                            {% else %}
                                <img src="path/to/default/image.jpg" alt="Default Image">
                            {% endif %}
                            <h3>{{ auction.title }}</h3>
                            <p>{{ auction.category }}</p>
                            <h3>
                                <!-- Product price-->
                                {% if auction.current_bid %}
                                    ${{ auction.current_bid }}
                                {% else %}
                                    ${{ auction.starting_bid }}
                                {% endif %}
                            </h3>
                            <button class='btn btn-outline-success mt-auto rounded'
                                    data-auction-id="{{ auction.id }}">
                                {% if auction.is_watched %}
                                    <i class="fa-solid fa-eye"></i>
                                {% else %}
                                    <i class="fa-regular fa-eye"></i>
                                {% endif %}
                            </button>

                        </a>




                    {% endfor %}
                </div>
            </div>

        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const buttons = document.querySelectorAll('.watchlist-btn');

                buttons.forEach(function (button) {
                    button.addEventListener('click', function (event) {
                        event.stopPropagation(); // Prevent the click event from propagating to the parent <a> element
                        const auctionId = button.getAttribute('data-auction-id');
                        const url = `{% url 'watchlist_edit' 0 'auction_details_view' %}`.replace('0', auctionId);
                        window.location.href = url;
                    });
                });
            });
        </script>


        {#        <section class="testimonials">#}
        {#            <h2>What Our Clients Say</h2>#}
        {#            <div class="carousel">#}
        {#                <div class="testimonial">#}
        {#                    <p>"Great platform for finding the best healthcare equipment!"</p>#}
        {#                    <span>- Client Name</span>#}
        {#                </div>#}
        {#                <div class="testimonial">#}
        {#                    <p>"Easy to use and reliable service."</p>#}
        {#                    <span>- Client Name</span>#}
        {#                </div>#}
        {#                <div class="testimonial">#}
        {#                    <p>"Highly recommend Healthcare Auctions for their excellent support."</p>#}
        {#                    <span>- Client Name</span>#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}

        <section class="call-to-action">
            <h2>Ready to Start Bidding?</h2>
            <p>Join us today and find the best deals on healthcare equipment.</p>
            <a href="{% url 'register' %}" class="button primary">Sign Up Now</a>
        </section>
    </div>
{% endblock %}



