{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Auctions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    {% block links %}
    {% endblock %}
</head>

<body id='page-top'>

{% include 'header_new.html' %}


<!-- Page Wrapper -->
<div id='wrapper mt-3'>


    <!-- Content Wrapper -->
    <div id='content-wrapper' class='d-flex flex-column'>

        <!-- Main Content -->
        <div id='content '>


            <!-- Begin Page Content -->
            <div class='container-fluid'>

                {% block body %}
                {% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class='sticky-footer bg-light mt-3'>
            <div class='container my-auto'>
                <div class='copyright text-center my-auto gap-4 d-flex align-items-center justify-content-center'>
                            <span>
                                Copyright &copy; <script>document.write(new Date().getFullYear())</script> Healthcare Auctions.
                            </span>
                            <span><i class="fa-solid fa-diamond" style="font-size: 10px;"></i></span>
                            <span>
                                <a class="text-decoration-none" id="privacy-link" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                            </span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class='scroll-to-top rounded' href='#page-top'>
    <i class='fas fa-angle-up'></i>
</a>

{% block script %}
    <!-- Bootstrap core JavaScript-->
{#    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>#}
{##}
{#    <!-- Core plugin JavaScript-->#}
{#    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>#}
{#    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js'></script>#}
{##}
{#    <!-- Page level plugins -->#}
{#    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>#}

    <!-- Custom scripts -->
{#    <script src='{% static "js/scripts.js" %}'></script>#}

{% endblock %}

</body>

</html>