{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Auctions</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap Datepicker CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    {% block links %}
    {% endblock %}
</head>

<body id='page-top'>

{% load custom_tags %}
{% render_header %}

<!-- Page Wrapper -->
<div id='wrapper mt-3'>


    <!-- Content Wrapper -->
    <div id='content-wrapper' class='d-flex flex-column'>

        <!-- Main Content -->
        <div id='content'>


            <!-- Begin Page Content -->
            <div class='container-fluid'>

                {% block body %}
                {% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class='sticky-footer bg-light mt-3'>
            <div class='container my-auto'>
                <div class='copyright text-center my-auto gap-4 d-flex align-items-center justify-content-center'>
                    <span class="text-dark">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Healthcare Auctions.</span>
                    <span><i class="fa-solid fa-diamond" style="font-size: 10px;"></i></span>
                    <span><a class="text-decoration-none text-dark" id="privacy-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></span>
                    <span><i class="fa-solid fa-diamond" style="font-size: 10px;"></i></span>
                    <span><a class="text-decoration-none text-dark" id="terms-link" href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class='scroll-to-top rounded' href='#page-top'>
    <i class='fas fa-angle-up'></i>
</a>

{% block script %}


{% endblock %}

</body>

</html>