{% extends 'new_base.html' %}
{% load static %}
{% block title %}Auctions | {{ title }} {% endblock %}

{% block body %}
    <div class="container" style="min-height: 75vh;">
        <!-- Page Heading -->


        {% if message %}
            <div class='alert alert-danger mb-3' role='alert'>
                {{ message }}
            </div>
        {% endif %}

        <div class="registration-container">
            <div>
                <img id="registration-image" src="{% static 'images/registration.png' %}">
            </div>

            <div class='card' id="registration-card">
                <div class='card-body'>
                    <form id="registration-form" action="{% url 'register' %}" method='POST'
                          enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="d-flex align-items-center justify-content-between">
                            <h1 class='h3 mb-4 text-gray-800 text-nowrap'>Create an Account</h1>
                            <div class="form-group input-group">
                                <div class="input-group mb-3 justify-content-end" id="account-type-buttons">
                                    <button type="button" class="btn btn-primary" id="business-account-selector">
                                        Business
                                    </button>
                                    <button type="button" class="btn btn-secondary" id="personal-account-selector">
                                        Personal
                                    </button>
                                </div>
                                <input type="hidden" id="account_type" name="account_type" value="business">
                            </div>
                        </div>

                        <div id="form-page-1" class="form-page">

                            <div class='form-group input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class='fa fa-user'></i></span>
                                </div>
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class='fa fa-envelope'></i></span>
                                </div>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class='fa fa-lock'></i></span>
                                </div>
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class='fa fa-lock'></i></span>
                                </div>
                                {{ form.confirmation }}
                                {% if form.confirmation.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirmation.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3' id="company_name_group">
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class='fa fa-building'></i></span>
                                </div>
                                {{ form.company_name }}
                                {% if form.company_name.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.company_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="registration-nav">
                                <button type="button" class="btn btn-primary next-btn">Next</button>
                            </div>
                        </div>

                        <div id="form-page-2" class="form-page" style="display:none;">
                            <h5>Shipping Address</h5>
                            <div class='form-group input-group mb-3'>
                                {{ form.shipping_street }}
                                {% if form.shipping_street.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.shipping_street.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.shipping_city }}
                                {% if form.shipping_city.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.shipping_city.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.shipping_state }}
                                {% if form.shipping_state.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.shipping_state.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.shipping_zip }}
                                {% if form.shipping_zip.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.shipping_zip.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.shipping_country }}
                                {% if form.shipping_country.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.shipping_country.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="registration-nav">
                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>
                                <button type="button" class="btn btn-primary next-btn">Next</button>
                            </div>
                        </div>

                        <div id="form-page-3" class="form-page" style="display:none;">
        <span>
        <h5>Billing Address</h5>
        <div class="form-group mb-3">
            <input type="checkbox" id="same-as-shipping">
            <label for="same-as-shipping">Same as Shipping Address</label>
        </div>
        </span>
                            <div class='form-group input-group mb-3'>
                                {{ form.billing_street }}
                                {% if form.billing_street.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.billing_street.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.billing_city }}
                                {% if form.billing_city.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.billing_city.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.billing_state }}
                                {% if form.billing_state.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.billing_state.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.billing_zip }}
                                {% if form.billing_zip.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.billing_zip.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                {{ form.billing_country }}
                                {% if form.billing_country.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.billing_country.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="registration-nav">
                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>
                                <button type="button" class="btn btn-primary next-btn">Next</button>
                            </div>
                        </div>

                        <div id="form-page-4a" class="form-page" style="display:none;">
                            <h5>Contact Information</h5>
                            <div class='form-group input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class='fa fa-user'></i></span>
                                </div>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class='fa fa-user'></i></span>
                                </div>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.last_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class='form-group input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text'><i class="fa-solid fa-phone"></i></span>
                                </div>
                                {{ form.phone }}
                                {% if form.phone.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.phone.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div id="w9-container">
                                <div class="d-flex align-items-center gap-1">
                                    <h5 class="m-0">Documentation</h5>
                                    <small class="text-muted"> - You can add these later.</small>
                                </div>
                                <div class="form-label mt-2">IRS Form W-9</div>
                                <div class='form-group input-group mb-3'>
                                    <div class='input-group-prepend'>
                                        <span class='input-group-text'><i class="fa fa-file"></i></span>
                                    </div>
                                    {{ form.company_w9 }}
                                    {% if form.company_w9.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.company_w9.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="form-label">Reseller/Tax Exempt Certificate</div>
                                <div class='form-group input-group mb-3'>
                                    <div class='input-group-prepend'>
                                        <span class='input-group-text'><i class="fa fa-file"></i></span>
                                    </div>
                                    {{ form.reseller_certificate }}
                                    {% if form.reseller_certificate.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.reseller_certificate.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="registration-nav">
                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>
                                <button type="button" class="btn btn-primary next-btn">Next</button>
                            </div>
                        </div>

                        <div id="form-page-4" class="form-page" style="display:none;">
                            <div id="registration-image-container">
                                <div class="main-img mb-3">
                                    <h5 id="profile-image-heading">Profile Image</h5>
                                    <div class="img-thumbnail" id="profile-img"
                                         onclick="document.getElementById('profile_image_input').click()">
                                        <img id="profile-thumbnail-preview" src="#" alt="Upload Icon"
                                             style="display:none;">
                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                            <i class="fa fa-image" id="profile-upload-icon"></i>
                                        </div>
                                    </div>
                                    <div style="display:none;">
                                        {{ form.profile_image }}
                                    </div>
                                </div>

                                <div class="main-img mb-3" id="company_logo_group">
                                    <h5 id="company-profile-image-heading">Company Logo</h5>
                                    <div class="img-thumbnail" id="company-logo-img"
                                         onclick="document.getElementById('company_logo_input').click()">
                                        <img id="company-logo-thumbnail-preview" src="#" alt="Upload Icon"
                                             style="display:none;">
                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                            <i class="fa fa-image" id="company-logo-upload-icon"></i>
                                        </div>
                                    </div>
                                    <div style="display:none;">
                                        {{ form.company_logo }}
                                    </div>
                                </div>
                            </div>

                            <p>
                                By selecting Create personal account, you agree to our User Agreement and acknowledge
                                reading our User Privacy Notice.
                            </p>
                            <div class="registration-nav">
                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>
                                <button type="submit" class="btn btn-primary">Create Account</button>
                            </div>
                        </div>
                    </form>
                    <!-- old form -->
{#                    <form id="registration-form" action="{% url 'register' %}" method='POST'#}
{#                          enctype="multipart/form-data">#}
{#                        {% csrf_token %}#}
{##}
{#                        <div class="d-flex align-items-center justify-content-between">#}
{#                            <h1 class='h3 mb-4 text-gray-800 text-nowrap'>Create an Account</h1>#}
{#                            <div class="form-group input-group">#}
{#                                <label for="account_type">Account Type:</label>#}
{#                                <div class="input-group mb-3 justify-content-end" id="account-type-buttons">#}
{#                                    <button type="button" class="btn btn-primary" id="business-account-selector">#}
{#                                        Business#}
{#                                    </button>#}
{#                                    <button type="button" class="btn btn-secondary" id="personal-account-selector">#}
{#                                        Personal#}
{#                                    </button>#}
{#                                </div>#}
{#                                <input type="hidden" id="account_type" name="account_type" value="business">#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div id="form-page-1" class="form-page">#}
{##}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class='fa fa-user'></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='text' name='username' placeholder='Username'#}
{#                                       autofocus#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class='fa fa-envelope'></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='email' name='email'#}
{#                                       placeholder='Email Address'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class='fa fa-lock'></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='password' name='password'#}
{#                                       placeholder='Password'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class='fa fa-lock'></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='password' name='confirmation'#}
{#                                       placeholder='Confirm Password' required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3' id="company_name_group">#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class='fa fa-building'></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='text' name='company_name'#}
{#                                       placeholder='Company Name'>#}
{#                            </div>#}
{#                            <div class="registration-nav">#}
{#                                <button type="button" class="btn btn-primary next-btn">Next</button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div id="form-page-2" class="form-page" style="display:none;">#}
{#                            <h5>Shipping Address</h5>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='shipping_street' placeholder='Street'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='shipping_city' placeholder='City'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='shipping_state' placeholder='State'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='shipping_zip' placeholder='Zip Code'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='shipping_country' placeholder='Country'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class="registration-nav">#}
{#                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>#}
{#                                <button type="button" class="btn btn-primary next-btn">Next</button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div id="form-page-3" class="form-page" style="display:none;">#}
{#                            <span>#}
{#                            <h5>Billing Address</h5>#}
{#                            <div class="form-group mb-3">#}
{#                                <input type="checkbox" id="same-as-shipping">#}
{#                                <label for="same-as-shipping">Same as Shipping Address</label>#}
{#                            </div>#}
{#                                </span>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='billing_street' placeholder='Street'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='billing_city' placeholder='City' required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='billing_state' placeholder='State'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='billing_zip' placeholder='Zip Code'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <input class='form-control' type='text' name='billing_country' placeholder='Country'#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class="registration-nav">#}
{#                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>#}
{#                                <button type="button" class="btn btn-primary next-btn">Next</button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div id="form-page-4a" class="form-page" style="display:none;">#}
{#                            <h5>Contact Information</h5>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class='fa fa-user'></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='text' name='first_name'#}
{#                                       placeholder='First Name' autofocus required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class='fa fa-user'></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='text' name='last_name'#}
{#                                       placeholder='Last Name' autofocus required>#}
{#                            </div>#}
{#                            <div class='form-group input-group mb-3'>#}
{#                                <div class='input-group-prepend'>#}
{#                                    <span class='input-group-text'><i class="fa-solid fa-phone"></i></span>#}
{#                                </div>#}
{#                                <input class='form-control rounded' type='text' name='phone'#}
{#                                       placeholder='Phone' autofocus required>#}
{#                            </div>#}
{#                            <div id="w9-container">#}
{#                                <div class="d-flex align-items-center gap-1">#}
{#                                    <h5 class="m-0">Documentation</h5>#}
{#                                    <small class="text-muted"> - You can add these later.</small>#}
{#                                </div>#}
{#                                <div class="form-label mt-2">IRS Form W-9</div>#}
{#                                <div class='form-group input-group mb-3'>#}
{#                                    <div class='input-group-prepend'>#}
{#                                        <span class='input-group-text'><i class="fa fa-file"></i></span>#}
{#                                    </div>#}
{#                                    <input class='form-control rounded' type='file' name='company_w9'#}
{#                                           accept=".pdf,.doc,.docx,.jpg,.png,.jpeg" required>#}
{#                                </div>#}
{#                                <div class="form-label">Reseller/Tax Exempt Certificate</div>#}
{#                                <div class='form-group input-group mb-3'>#}
{#                                    <div class='input-group-prepend'>#}
{#                                        <span class='input-group-text'><i class="fa fa-file"></i></span>#}
{#                                    </div>#}
{#                                    <input class='form-control rounded' type='file' name='reseller_certificate'#}
{#                                           accept=".pdf,.doc,.docx,.jpg,.png,.jpeg" required placeholder="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="registration-nav">#}
{#                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>#}
{#                                <button type="button" class="btn btn-primary next-btn">Next</button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div id="form-page-4" class="form-page" style="display:none;">#}
{#                            <div id="registration-image-container">#}
{#                                <div class="main-img mb-3">#}
{#                                    <h5 id="profile-image-heading">Profile Image</h5>#}
{#                                    <div class="img-thumbnail" id="profile-img"#}
{#                                         onclick="document.getElementById('profile_image_input').click()">#}
{#                                        <img id="profile-thumbnail-preview" src="#" alt="Upload Icon"#}
{#                                             style="display:none;">#}
{#                                        <div class="d-flex flex-column align-items-center justify-content-center">#}
{#                                            <i class="fa fa-image" id="profile-upload-icon"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div style="display:none;">#}
{#                                        <input type="file" name="profile_image" accept="image/*" class="form-control"#}
{#                                               id="profile_image_input">#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="main-img mb-3" id="company_logo_group">#}
{#                                    <h5 id="company-profile-image-heading">Company Logo</h5>#}
{#                                    <div class="img-thumbnail" id="company-logo-img"#}
{#                                         onclick="document.getElementById('company_logo_input').click()">#}
{#                                        <img id="company-logo-thumbnail-preview" src="#" alt="Upload Icon"#}
{#                                             style="display:none;">#}
{#                                        <div class="d-flex flex-column align-items-center justify-content-center">#}
{##}
{#                                            <i class="fa fa-image" id="company-logo-upload-icon"></i>#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{#                                    <div style="display:none;">#}
{#                                        <input type="file" name="company_logo" accept="image/*" class="form-control"#}
{#                                               id="company_logo_input">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p>#}
{#                                By selecting Create personal account, you agree to our User Agreement and acknowledge#}
{#                                reading our User Privacy Notice.#}
{#                            </p>#}
{#                            <div class="registration-nav">#}
{#                                <button type="button" class="btn btn-secondary prev-btn">Previous</button>#}
{#                                <button type="submit" class="btn btn-primary">Create Account</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}

                </div>
            </div>
        </div>
    </div>

    <link href='{% static "css/index.css" %}' rel='stylesheet'>
    <script src='{% static "js/register.js" %}'></script>

{% endblock %}
