{% extends 'new_base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <h1>Healthcare Auctions User Agreement</h1>

        <h2>1. Introduction</h2>
        <p>This User Agreement, the Mobile Application Terms of Use, and all policies and additional terms posted on and
            in
            our sites, applications, tools, and services (collectively "Services") set out the terms on which Healthcare
            Auctions, LLC offers you access to and use of our Services. The Mobile Application Terms of Use, all
            policies,
            and additional terms posted on and in our Services are incorporated into this User Agreement. You agree to
            comply with all terms of this User Agreement when accessing or using our Services.</p>
        <p>The entity you are contracting with is: Healthcare Auctions, LLC, located in Hillsborough County, Florida. In
            this User Agreement, this entity is referred to as "Healthcare Auctions," "we," or "us."</p>
        <p>Please be advised that this User Agreement contains provisions that govern how claims you and we have against
            each other are resolved (see "Disclaimer of Warranties; Limitation of Liability" and "Legal Disputes"
            provisions
            below). It also contains an Agreement to Arbitrate which will, with limited exception, require you to submit
            claims you have against us or our agents to binding and final arbitration, unless you opt out of the
            Agreement
            to Arbitrate (see Legal Disputes, Section B ("Agreement to Arbitrate")). If you do not opt out: (1) you will
            only be permitted to pursue claims against us or our agents on an individual basis, not as a plaintiff or
            class
            member in any class or representative action or proceeding, and (2) you will only be permitted to seek
            relief
            (including monetary, injunctive, and declaratory relief) on an individual basis.</p>

        <h2>2. About Healthcare Auctions</h2>
        <p>Healthcare Auctions is a marketplace that allows users to offer, sell, and buy disposable medical equipment
            and
            other goods using a variety of pricing formats. Healthcare Auctions is not a party to contracts for sale
            between
            third-party sellers and buyers, nor is Healthcare Auctions a traditional auctioneer.</p>
        <p>Any guidance Healthcare Auctions provides as part of our Services, such as pricing, shipping, listing, and
            sourcing, is solely informational, and you may decide to follow it or not. Healthcare Auctions does not take
            possession of any products and does not inspect any items. We may help facilitate the resolution of disputes
            between buyers and sellers. Unless otherwise expressly provided, Healthcare Auctions has no control over and
            does not guarantee: the existence, quality, safety, or legality of items advertised; the truth or accuracy
            of
            users' content or listings; the ability of sellers to sell items; the ability of buyers to pay for items; or
            that a buyer or seller will actually complete a transaction or return an item.</p>

        <h2>3. Using Healthcare Auctions</h2>
        <p>In connection with using or accessing our Services you agree to comply with this User Agreement, our
            policies,
            our terms, and all applicable laws, rules, and regulations, and you will not:</p>
        <ul>
            <li>Breach or circumvent any laws, regulations, third-party rights, or our systems, Services, policies, or
                determinations of your account status;
            </li>
            <li>Use our Services if you are not able to form legally binding contracts (for example, if you are under 18
                years old), or are temporarily or indefinitely suspended from using our Services;
            </li>
            <li>Fail to pay for items purchased by you, unless you have a valid reason as set out in a Healthcare
                Auctions
                policy;
            </li>
            <li>Fail to deliver items sold by you, unless you have a valid reason as set out in a Healthcare Auctions
                policy;
            </li>
            <li>Manipulate the price of any item or interfere with any other user's listings;</li>
            <li>Take any action that may undermine the feedback or ratings systems;</li>
            <li>Transfer your Healthcare Auctions account (including feedback) and user ID to another party without our
                consent;
            </li>
            <li>Share your login credentials with any third parties outside of your organization. Currently, user
                credentials may be shared within a single organization;
            </li>
            <li>Create listings or provide us with content in inappropriate categories or areas of our sites;</li>
            <li>Engage in gambling;</li>
            <li>Provide us with content that is false, inaccurate, misleading, deceptive, defamatory, libelous, illegal,
                inappropriate, harmful, or violates and/or infringes the rights of others;
            </li>
            <li>Distribute or post spam, unsolicited or bulk electronic communications, chain letters, or pyramid
                schemes;
            </li>
            <li>Distribute viruses or any other technologies that may harm Healthcare Auctions or the interests or
                property
                of users;
            </li>
            <li>Use any robot, spider, scraper, data mining tools, data gathering and extraction tools, or other
                automated
                means to access our Services for any purpose, except with the prior express permission of Healthcare
                Auctions;
            </li>
            <li>Circumvent any technical measures used to provide our Services;</li>
            <li>Interfere with the functioning of our Services, such as by imposing an unreasonable or
                disproportionately
                large load on our infrastructure;
            </li>
            <li>Export or re-export any Healthcare Auctions application or tool, except in compliance with the export
                control laws, and rules and policies of any relevant jurisdictions;
            </li>
            <li>Infringe the intellectual property rights of Healthcare Auctions or others;</li>
            <li>Harvest or otherwise collect or use information about users without their consent.</li>
        </ul>
        <p>If we believe you are violating this User Agreement or any of our policies, or abusing Healthcare Auctions
            and/or
            our Services in any way, we may, in our sole discretion and without limiting other remedies, limit, suspend,
            or
            terminate your user account(s) and access to our Services, delay or remove hosted content, remove any
            special
            status associated with your account(s), remove, not display, and/or demote listings, reduce or eliminate any
            discounts, and take technical and/or legal steps to prevent you from using our Services. We may offer a
            process
            allowing users to report claimed violations for us to consider and handle through one or more of these
            options,
            all in our sole discretion.</p>
        <p>We may cancel unconfirmed accounts or accounts that have been inactive for a substantial period of time.
            Additionally, we reserve the right to refuse, modify, or terminate all or part of our Services to anyone for
            any
            reason at our discretion.</p>

        <h2>4. Policy Enforcement</h2>
        <p>When a buyer or seller issue arises, we may consider the user's performance history and the specific
            circumstances in applying our policies. We may choose to be more lenient or stringent with policy
            enforcement in
            an effort to do the right thing for both buyers and sellers. The foregoing does not limit or impair our
            right to
            refuse, modify, or terminate all or part of our Services to anyone, or to terminate this agreement with
            anyone,
            for any reason at our discretion.</p>

        <h2>5. Fees and Taxes</h2>
        <p>We charge sellers for the use of our Services. In some cases, where buyers receive supplemental Services such
            as
            authentication or storage Services for items in certain categories, we may also charge those buyers for such
            supplemental Services.</p>
        <p>The fees we charge sellers for using our Services to sell goods and services include a 15% commission on the
            final sale price of goods sold.</p>
        <p>Users must have a payment method on file when using our selling Services and pay all fees and applicable
            taxes
            associated with your use of our Services by the payment due date. If your payment method fails or your
            account
            is past due, we may place restrictions on your account, or may collect amounts owed in the manner described
            in
            the Payments Terms of Use, and late fees will apply. Healthcare Auctions, or the collection agencies we
            retain,
            may also report information about your account to credit bureaus, and as a result, late payments, missed
            payments, or other defaults on your account may be reflected in your credit report.</p>

        <h2>6. Listing Conditions</h2>
        <p>When listing an item for sale on our Services, you agree to comply with Healthcare Auctions' Listing policies
            and
            also agree that:</p>
        <ul>
            <li>You assume full responsibility for the item offered and the accuracy and content of the listing;</li>
            <li>Your listing may not be immediately searchable by keyword or category for several hours (or up to 24
                hours
                in some circumstances). Healthcare Auctions does not guarantee exact listing duration;
            </li>
            <li>Your fixed-price listings may renew automatically every calendar month, based on the listing terms at
                the
                time, until all quantities sell or the listing is ended by you or Healthcare Auctions, in its sole
                discretion;
            </li>
            <li>The content you provide complies with all of our listing policies;</li>
            <li>Content that violates any of Healthcare Auctions' policies may be modified, obfuscated, or deleted at
                Healthcare Auctions' sole discretion;
            </li>
            <li>We may revise listings to supplement, remove, or correct information;</li>
            <li>We strive to create a marketplace where buyers find what they are looking for. Therefore, the appearance
                or
                placement of listings in search and browse results will depend on a variety of factors, including, but
                not
                limited to: buyer's location, search query, browsing site, and history; item's location, listing format,
                price and shipping cost, terms of service, end time, history, and relevance to the user query; seller's
                history, including listing practices, Detailed Seller Ratings, Healthcare Auctions policy compliance,
                feedback, and defect rate; and number of listings matching the buyer's query;
            </li>
            <li>To drive a positive user experience, a listing may not appear in some search and browse results
                regardless
                of the sort order chosen by the buyer;
            </li>
            <li>Some advanced listing upgrades will only be visible on some of our Services;</li>
            <li>Metatags and URL links that are included in a listing may be removed or altered;</li>
            <li>We may provide you with optional information to consider when creating your listings. Such information
                may
                be based on the aggregated sales and performance history of similar sold and/or current listings;
                results
                may vary for individual listings. You agree that we may display the sales and performance history of
                your
                individual listings to other sellers;
            </li>
            <li>You will not sell and will promptly remove all listings for any product recalled by a manufacturer or
                governmental agency if the sale of the product is prohibited by law or regulation or if the product
                poses a
                health or safety hazard as specified by any governmental agency. Healthcare Auctions has no
                responsibility
                or liability for the safety or performance of any product that you list or sell using our Services,
                including any product that is subject to a recall. You are solely responsible for any non-conformity or
                defect in, or compliance with any public or private recall of, any product you list or sell using our
                Services;
            </li>
            <li>Healthcare Auctions may publish and promote your listings, including related content such as username,
                product reviews, and feedback, in any format and through any channel, including across any Healthcare
                Auctions Services, our partners, or third-party property or advertising medium; and
            </li>
            <li>Selling fees do not purchase exclusive rights to item exposure on our Services. We may display
                third-party
                advertisements (including links and references thereto) or other content in any part of our Services,
                including listings, in our sole discretion and without consent from, or payment, fee reduction, or other
                credit to, sellers.
            </li>
        </ul>

        <h2>7. Purchase Conditions</h2>
        <p>When buying an item using our Services, you agree to the Rules and policies for buyers and that:</p>
        <ul>
            <li>You are responsible for reading the full item listing before making a bid or offer, buying, or
                committing to
                buy;
            </li>
            <li>You enter into a legally binding contract to purchase an item when you buy the item, commit to buy the
                item,
                your offer for the item is accepted, you have the winning bid for the item, or your bid for the item is
                otherwise accepted, or otherwise agree to purchase the item, regardless of when payment is due or
                received
                unless the transaction terms state that you are required to pay for the item before a binding contract
                is
                formed;
            </li>
            <li>We do not transfer legal ownership of items from the seller to you;</li>
            <li>Applicable law governs the transfer of ownership between the buyer and the seller, unless the buyer and
                the
                seller agree otherwise.
            </li>
        </ul>

        <h2>8. International Buying and Selling; Translation</h2>
        <p>Given the nature of Healthcare Auctions' marketplace, listings may be viewed and purchased by, and shipped
            to,
            buyers around the United States. We do not permit, take part in, or facilitate in any way the sale of any
            products internationally. If any products are shipped overseas, Healthcare Auctions is not responsible for
            any
            consequences that may arise, including, but not limited to, legal issues or restrictions in the destination
            country. It is the buyer's responsibility to ensure that the products comply with the laws and regulations
            of
            the destination country.</p>
        <p>For sellers, you agree that we may display your listing for sale on a Healthcare Auctions site other than the
            site where you listed your item for sale. You authorize us to use automated tools related to your Healthcare
            Auctions content.</p>

        <h2>9. Content</h2>
        <p>When you provide content using our Services (directly or indirectly), you grant us a non-exclusive,
            worldwide,
            perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise any and all
            Intellectual Property Rights you have in that content in connection with our provision, expansion, and
            promotion
            of our Services, including the development of new offerings as part of our Services, in any media known now
            or
            developed in the future. To the fullest extent permitted under applicable law, you waive your right to
            enforce
            your Intellectual Property Rights, including any moral rights, in that content against Healthcare Auctions,
            our
            assignees, our sublicensees, and their assignees in connection with our, those assignees', and those
            sublicensees' use of that content in connection with our provision, expansion, and promotion of our
            Services.</p>
        <p>You represent and warrant that, for all such content you provide, you own or otherwise control all necessary
            rights to do so and to meet your obligations under this User Agreement. You represent and warrant that such
            content is accurate, appropriate, and legal. You represent and warrant that use of any such content
            (including
            derivative works) by us, our users, or others in contract with us, and in compliance with this User
            Agreement,
            does not and will not infringe any Intellectual Property Rights of any third party. Healthcare Auctions
            takes no
            responsibility and assumes no liability for any content provided by you or any third party.</p>
        <p>We offer product data (including images, descriptions, and specifications) that are provided by third parties
            through an open access API to the FDA website. You may use that content solely in your Healthcare Auctions
            listings. Healthcare Auctions may modify or revoke such permission at any time in our sole discretion. The
            product data includes copyrighted, trademarked, and other proprietary materials. You agree not to remove any
            copyright, proprietary, or identification markings in the product data and not to create any derivative
            works
            based on that data (other than by including the data in your listings). Healthcare Auctions is not
            responsible
            for the content of data provided by third parties. We try to offer reliable product data, but we cannot
            promise
            that the content provided through our Services will always be available, accurate, complete, and up-to-date.
            You
            agree that Healthcare Auctions is not responsible for examining or warranting the listings or content
            provided
            by third parties through our Services, and that you will not attempt to hold us or our data providers liable
            for
            inaccuracies.</p>
        <p>The name "Healthcare Auctions" and other Healthcare Auctions marks, logos, designs, and phrases that we use
            in
            connection with our Services are trademarks, service marks, or trade dress of Healthcare Auctions in the
            U.S.
            and other countries. They may not be used without the express written prior permission of Healthcare
            Auctions.</p>

        <h2>10. Holds and Restricted Funds</h2>
        <p>To protect Healthcare Auctions from risk of liability for its users, Healthcare Auctions Payments Entities
            may
            restrict access to your funds as described in the Payments Terms of Use.</p>

        <h2>11. Returns and Cancellations</h2>
        <p>As a listing site, Healthcare Auctions facilitates transactions between buyers and sellers but is not
            directly
            involved in the sale of products. All sales are final. Healthcare Auctions guarantees that the product is as
            described by the seller. If a dispute arises where the buyer claims that the product is not as described,
            Healthcare Auctions will act as the arbiter.</p>
        <p>In such cases, buyers must submit a claim within 72 hours of receiving the product. Healthcare Auctions will
            review the claim and, if it determines that the product materially differs from the listing description, may
            authorize a return. Upon authorization, Healthcare Auctions will refund the purchase price and original
            shipping
            cost to the buyer once the product is picked up and delivered to Healthcare Auctions for inspection.</p>
        <p>The seller is responsible for the cost of the original shipping and an additional fee to Healthcare Auctions
            amounting to 15% of the listing sale price. The seller will have the opportunity to arrange for the pickup
            of
            their product. If the seller fails to do so, Healthcare Auctions will ship the product back to the seller at
            their expense.</p>
        <p>This return policy is limited to cases where the product is not as described. For any other issues or
            disputes,
            the buyer and seller must resolve the matter independently. Healthcare Auctions encourages transparency in
            listing descriptions and return policies to prevent disputes.</p>

        <h2>12. Healthcare Auctions Money Back Guarantee</h2>
        <p>Upon receiving a product purchased through Healthcare Auctions, the buyer has 72 hours to inspect the
            product. If
            the product is found to be materially different from the description provided in the listing, the buyer may
            request Healthcare Auctions to facilitate a return on the seller's behalf. This request must be submitted
            within
            the 72-hour inspection period.</p>
        <p>If Healthcare Auctions determines that the product significantly deviates from the listing description, we
            may
            authorize the return. In such cases, the purchase price and the original shipping cost will be refunded to
            the
            buyer once the product is returned and delivered to Healthcare Auctions for inspection.</p>
        <p>The seller will be promptly notified of the return and given the opportunity to arrange for the pickup of
            their
            product. If the seller fails to arrange for pickup within a specified timeframe, Healthcare Auctions will
            handle
            the return shipping to the seller at their expense. The seller is also responsible for the original shipping
            cost and a service fee to Healthcare Auctions amounting to 15% of the listing sale price.</p>
        <p>This inspection and return process is exclusively applicable to cases where the product is found to be
            materially
            different from its description. It is separate from the general return policy, which affirms that all sales
            are
            final and other disputes must be resolved directly between the buyer and seller.</p>

        <h2>13. Payment Terms</h2>
        <p>Payments for goods and services sold using our Services are facilitated by designated Healthcare Auctions
            pursuant to the Payments Terms of Use. You agree to the Payments Terms of Use to the extent applicable to
            you.
            To receive payment for an item sold using our Services, you must accept and comply with the Payments Terms
            of
            Use, including the requirements to provide to Healthcare Auctions information about you, your business, and
            the
            financial account you will use to receive payments.</p>
        <p>Buyers may pay for items and services using the payment methods that Healthcare Auctions make available, and
            Healthcare Auctions will manage settlement of the payment to sellers. Healthcare Auctions will collect the
            transaction amount on behalf of the seller by charging the buyer’s selected payment method. Accordingly,
            payments received by Healthcare Auctions from you will satisfy your obligations to pay the seller in the
            amount
            of payments received.</p>
        <p>In certain instances, your transaction may be declined, frozen, or held for any reason including without
            limitation for suspected fraud, Anti-Money Laundering ("AML") compliance, compliance with economic or trade
            sanctions, in connection with Healthcare Auctions' internal risk controls or due to potential violations of
            any
            policy of Healthcare Auctions or a policy of one of Healthcare Auctions third-party payment services
            providers.</p>
        <p>Healthcare Auctions or its affiliates may save payment information, such as credit card or debit card
            numbers,
            and card expiration dates, entered by you on our Services when you make a purchase, redeem a coupon, or make
            any
            other transaction on our Services where card information is entered. Such stored payment information may be
            used
            as your default payment method for future transactions on our Services. At any time, you can update your
            payment
            information or enter new payment information, at which point the new payment information shall be stored as
            your
            default payment method. You may make changes to your default payment method through the payment section in
            Healthcare Auctions. You are responsible for maintaining the accuracy of information we have on file, and
            you
            consent to Healthcare Auctions updating such stored information from time to time based on information
            provided
            by you, your bank or other payments services providers. You will only provide information about payment
            methods
            that you are authorized to use. By placing a payment method on file with us, you authorize Healthcare
            Auctions
            to charge your payment method(s) for any and all amounts arising from your use of our Services, including
            charges to recover the proceeds of any fraud perpetrated by you, or charges necessary to recoup amounts
            refunded
            to you in error.</p>
        <p>You may seek returns or cancellations on our Services. If you are entitled to a refund, Healthcare Auctions
            will
            issue the refund if Healthcare Auctions processed the original payment. Refund timing may vary in accordance
            with the rules of third parties, such as credit and debit card networks. You agree to comply with, and not
            cause
            a third party to violate, all applicable laws, regulations, rules and terms and conditions in connection
            with
            the use of the services provided by Healthcare Auctions. You understand that some third parties, such as
            credit
            and debit card issuers, credit and debit card networks and payments services providers, may have their own
            terms
            and conditions for the payment or settlement methods you choose to use in connection with managed payments
            transactions. Failure to abide by third-party terms and conditions may result in fees assessed to you (for
            example, currency conversion fees from your credit card issuer if the transaction currency is different from
            your credit card currency) or other actions taken by such third parties, and you agree that Healthcare
            Auctions
            has no control over, or responsibility or liability for, such fees or actions.</p>

        <h2>14. Disclaimer of Warranties; Limitation of Liability</h2>
        <p>We strive to keep our Services safe, secure, and functioning properly, but we cannot guarantee the continuous
            operation of or access to our Services. Bid update and other notification functionality in Healthcare
            Auctions'
            applications may not occur in real time. Such functionality is subject to delays beyond Healthcare Auctions'
            control.</p>
        <p>YOU AGREE THAT YOU ARE MAKING USE OF OUR SERVICES AT YOUR OWN RISK, AND THAT THEY ARE BEING PROVIDED TO YOU
            ON AN
            "AS IS" AND "AS AVAILABLE" BASIS. ACCORDINGLY, TO THE EXTENT PERMITTED BY APPLICABLE LAW, WE EXCLUDE ALL
            EXPRESS
            OR IMPLIED WARRANTIES, TERMS AND CONDITIONS INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>
        <p>IN ADDITION, TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL HEALTHCARE AUCTIONS (INCLUDING OUR
            PARENT, SUBSIDIARIES, AND AFFILIATES, AND OUR AND THEIR OFFICERS, DIRECTORS, AGENTS, AND EMPLOYEES) BE
            LIABLE TO
            YOU OR ANY THIRD PARTY UNDER ANY CLAIM AT LAW OR IN EQUITY FOR ANY CONSEQUENTIAL DAMAGES OR LOSSES
            (INCLUDING,
            BUT NOT LIMITED TO, LOSS OF MONEY, GOODWILL OR REPUTATION, PROFITS, OTHER INTANGIBLE LOSSES, OR ANY SPECIAL,
            INDIRECT, OR CONSEQUENTIAL DAMAGES), AND ALL SUCH DAMAGES OR LOSSES ARE EXPRESSLY EXCLUDED BY THIS USER
            AGREEMENT WHETHER OR NOT THEY WERE FORESEEABLE OR HEALTHCARE AUCTIONS WAS ADVISED OF SUCH DAMAGES OR LOSSES.
            WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE (INCLUDING OUR PARENT, SUBSIDIARIES, AND AFFILIATES,
            AND
            OUR AND THEIR OFFICERS, DIRECTORS, AGENTS, AND EMPLOYEES) ARE NOT LIABLE, AND YOU AGREE NOT TO HOLD US
            RESPONSIBLE, FOR ANY DAMAGES OR LOSSES (INCLUDING, BUT NOT LIMITED TO, LOSS OF MONEY, GOODWILL OR
            REPUTATION,
            PROFITS, OTHER INTANGIBLE LOSSES, OR ANY SPECIAL, INDIRECT, OR CONSEQUENTIAL DAMAGES) RESULTING DIRECTLY OR
            INDIRECTLY FROM:</p>
        <ul>
            <li>The content you provide (directly or indirectly) using our Services;</li>
            <li>Your use of or your inability to use our Services;</li>
            <li>Pricing, shipping, format, or other guidance provided by Healthcare Auctions;</li>
            <li>Delays or disruptions in our Services;</li>
            <li>Viruses or other malicious software obtained by accessing our Services;</li>
            <li>Glitches, bugs, errors, or inaccuracies of any kind in our Services;</li>
            <li>Damage to your hardware device from the use of any Healthcare Auctions Service;</li>
            <li>The content, actions, or inactions of third parties, including items listed using our Services or the
                destruction of allegedly fake items;
            </li>
            <li>A suspension or other action taken with respect to your account or breach of the Using Healthcare
                Auctions
                section above;
            </li>
            <li>The duration or manner in which your listings appear in search results as set out in the Listing
                Conditions
                section above; or
            </li>
            <li>Your need to modify practices, content, or behavior, or your loss of or inability to do business, as a
                result of changes to this User Agreement or our policies.
            </li>
        </ul>
        <p>Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and
            exclusions may not apply to you. Regardless of the previous paragraphs, if we are found to be liable, our
            liability to you or to any third party is limited to the greatest of (a) any amounts due under the terms of
            this
            Agreement up to the price the item sold for on Healthcare Auctions (including any applicable sales tax) plus
            its
            original shipping costs, (b) the amount of fees in dispute, not to exceed the total fees you paid to us in
            the
            12 months prior to the action giving rise to the liability, or (c) $100.</p>

        <h2>15. Release</h2>
        <p>If you have a dispute with one or more users, you release us (and our affiliates and subsidiaries, and our
            and
            their respective officers, directors, employees, and agents) from claims, demands, and damages (actual and
            consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such
            disputes. In entering into this release, you expressly waive any protections (whether statutory or
            otherwise)
            that would otherwise limit the coverage of this release to include only those claims which you may know or
            suspect to exist in your favor at the time of agreeing to this release.</p>

        <h2>16. Indemnity</h2>
        <p>You will indemnify and hold us (including our affiliates and subsidiaries, as well as our and their
            respective
            officers, directors, employees, and agents) harmless from any claim or demand, including reasonable legal
            fees,
            made by any third party due to or arising out of your breach of this User Agreement, your improper use of
            our
            Services or your breach of any law or the rights of a third party.</p>

        <h2>17. Legal Disputes</h2>
        <p><strong>PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR RIGHTS AND WILL HAVE A SUBSTANTIAL IMPACT ON HOW
            CLAIMS YOU AND HEALTHCARE AUCTIONS HAVE AGAINST EACH OTHER ARE RESOLVED.</strong></p>
        <p>In this Legal Disputes section, the term "related third parties" includes your and Healthcare Auctions'
            respective affiliates, subsidiaries, parent companies, predecessors, successors, assigns, as well as your,
            Healthcare Auctions', and these entities' respective employees and agents. You and Healthcare Auctions each
            agree that any and all claims or disputes at law or equity that have arisen, or may arise, between you and
            Healthcare Auctions (or any related third parties) that relate in any way to or arise out of this or
            previous
            versions of this User Agreement, your use of or access to the Services, the actions of Healthcare Auctions
            or
            its agents, or any products or services sold, offered, or purchased through the Services, will be resolved
            in
            accordance with the provisions set forth in this Legal Disputes section.</p>

        <h3>A. Applicable Law</h3>
        <p>You agree that, except to the extent inconsistent with or preempted by federal law, the laws of the State of
            Florida, without regard to principles of conflict of laws, will govern this User Agreement and any claim or
            dispute that has arisen or may arise between you and Healthcare Auctions, except as otherwise stated in this
            User Agreement.</p>

        <h3>B. Agreement to Arbitrate</h3>
        <p>You and Healthcare Auctions each agree that any and all disputes or claims that have arisen, or may arise,
            between you and Healthcare Auctions (or any related third parties) that relate in any way to or arise out of
            this or previous versions of the User Agreement, your use of or access to our Services, the actions of
            Healthcare Auctions or its agents, or any products or services sold, offered, or purchased through our
            Services
            shall be resolved exclusively through final and binding arbitration, rather than in court, subject to any
            exemptions listed in this section.</p>
        <p>The Federal Arbitration Act ("FAA") and, to the extent not inconsistent with the FAA, the law of the State of
            Florida without regard to principles of conflict of laws govern the interpretation and enforcement of this
            Agreement to Arbitrate.</p>

        <h3>C. Exemption - Small Claims Court Claims</h3>
        <p>Notwithstanding the parties' agreement to resolve all disputes through arbitration, either party may seek
            relief
            in a small claims court for disputes or claims within the scope of that court's jurisdiction and on an
            individual (non-class) basis only. If a party initiates an arbitration asserting a claim that falls within
            the
            jurisdiction of a small claims court, the other party may, at its discretion, require that the arbitration
            demand be withdrawn and that the claim be filed in small claims court.</p>
        <p>Any dispute about whether a claim falls within any given small claims court's jurisdiction will be resolved
            by
            that court, not by an arbitrator. In the event of any such jurisdictional dispute, the arbitration
            proceeding
            will remain closed unless and until the small claims court issues a decision that the claim should proceed
            in
            arbitration.</p>

        <h3>D. Arbitration Procedures</h3>
        <p>Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a
            judge or
            jury, and court review of an arbitration award is very limited. However, an arbitrator can award the same
            damages and relief on an individualized basis that a court can award to an individual. An arbitrator will
            apply
            the terms of the User Agreement as a court would. All issues are for the arbitrator to decide, except that
            issues relating to arbitrability, the scope or enforceability of this Agreement to Arbitrate, or the
            interpretation of Section 2 of this Agreement to Arbitrate ("Prohibition of Class and Representative Actions
            and
            Non-Individualized Relief"), shall be for a court of competent jurisdiction to decide.</p>
        <p>The arbitration will be administered by the American Arbitration Association ("AAA") under its rules and
            procedures, including the AAA's Consumer Arbitration Rules and the AAA's Commercial Arbitration Rules, and
            the
            AAA's International Centre for Dispute Resolution Rules (as applicable), as modified by this Agreement to
            Arbitrate. Absent mutual written agreement of the parties, the AAA shall decide which AAA rules apply to the
            arbitration. The AAA's rules are available at <a href="https://www.adr.org" target="_blank">www.adr.org</a>
            and
            <a href="https://www.icdr.org" target="_blank">www.icdr.org</a>.</p>

        <p>A party who intends to seek arbitration must first attempt to resolve the dispute in writing. Healthcare
            Auctions
            will send any communications to you to the physical address we have on file associated with your Healthcare
            Auctions account; it is your responsibility to keep your physical address up to date. If you and Healthcare
            Auctions are unable to resolve the claims within 30 days, you or Healthcare Auctions may initiate
            arbitration or
            small claims proceedings. A form for initiating arbitration proceedings is available on the AAA's site at <a
                    href="https://www.adr.org" target="_blank">www.adr.org</a>. In addition to filing this form with the
            AAA
            in accordance with its rules and procedures, the party initiating the arbitration must mail a copy of the
            completed form to the opposing party. You may send a copy to Healthcare Auctions at the following address:
            Healthcare Auctions, LLC, 9720 N. Armenia Ave., Ste. I, Tampa, FL 33612.</p>

        <p>The arbitration hearing will be held in Hillsborough County, Florida, United States, or another
            mutually-agreed
            location. Where no disclosed claims or counterclaims exceed $25,000, the dispute shall be resolved by the
            submission of documents only, subject to the arbitrator's discretion to require an in-person hearing, if the
            circumstances warrant. In cases where an in-person hearing is held, you and/or Healthcare Auctions may
            attend
            remotely, unless the arbitrator requires otherwise. The language of the arbitration will be English.</p>

        <p>The arbitrator will decide the substance of all claims in accordance with applicable law, including the terms
            of
            this agreement and established principles of equity, and will honor all claims of privilege recognized by
            law.
            The arbitrator shall not be bound by rulings in prior arbitrations involving different users but shall be
            bound
            by rulings in prior arbitrations involving the same Healthcare Auctions user to the extent required by
            applicable law. The arbitrator's award shall be final and binding, and judgment on the award rendered by the
            arbitrator may be entered in any court having jurisdiction thereof.</p>
        <p>Payment of all filing, administration, and arbitrator fees will be governed by the AAA's rules unless
            otherwise
            stated in this Agreement to Arbitrate. Each party will be responsible for its own arbitration fees as
            determined
            by AAA. In the event the arbitrator determines the claim(s) you assert in the arbitration to be frivolous,
            you
            agree to reimburse Healthcare Auctions for all fees associated with the arbitration that have been paid by
            Healthcare Auctions on your behalf that you otherwise would have been obligated to pay under the AAA's
            rules.</p>
        <p>If an arbitrator or court decides that any part of this Agreement to Arbitrate is invalid or unenforceable,
            the
            other parts of this Agreement to Arbitrate shall still apply.</p>
        <p>YOU CAN CHOOSE TO REJECT THIS AGREEMENT TO ARBITRATE ("OPT-OUT") BY MAILING US A WRITTEN OPT-OUT NOTICE
            ("OPT-OUT
            NOTICE"). THE OPT-OUT NOTICE MUST BE POSTMARKED NO LATER THAN 30 DAYS AFTER THE DATE YOU ACCEPT THE USER
            AGREEMENT FOR THE FIRST TIME. YOU MUST MAIL THE OPT-OUT NOTICE TO HEALTHCARE AUCTIONS, LLC, 9720 N. ARMENIA
            AVE., SUITE I, TAMPA, FL 33612.</p>

        <h2>18. Judicial Forum for Legal Disputes</h2>
        <p>If the Agreement to Arbitrate above is found not to apply to you or to a particular claim or dispute, either
            as a
            result of your decision to opt out of the Agreement to Arbitrate or as a result of a decision by the
            arbitrator
            or a court order, you agree that any claim or dispute between you and Healthcare Auctions will be resolved
            exclusively by an state or federal court of competent jurisdiction located in Hillsborough County, Florida.
            You
            and Healthcare Auctions agree to submit exclusively to the personal jurisdiction of the courts located
            within
            Hillsborough County, Florida for the purpose of litigating all such claims, disputes, or matters.</p>

        <h2>19. General</h2>
        <p>Except as otherwise provided in this User Agreement, if any provision of this User Agreement is held to be
            invalid, void, or for any reason unenforceable, such provision shall be struck out and shall not affect the
            validity and enforceability of the remaining provisions. In our sole discretion, we may assign this User
            Agreement, and in such event, we will post notice on <a href="https://www.healthcareauctions.com"
                                                                    target="_blank">www.healthcareauctions.com</a>.</p>
        <p>Headings are for reference purposes only and do not limit the scope or extent of such section. Our failure to
            act
            with respect to a breach by you or others does not waive our right to act with respect to subsequent or
            similar
            breaches. We do not guarantee we will take action against all breaches of this User Agreement.</p>
        <p>We may amend this User Agreement at any time by posting the amended terms on <a
                href="https://www.healthcareauctions.com" target="_blank">www.healthcareauctions.com</a>. Our right to
            amend
            the User Agreement includes the right to modify, add to, or remove terms in the User Agreement. We will
            provide
            you 30 days' notice by posting the amended terms. Your continued access or use of our Services constitutes
            your
            acceptance of the amended terms. We may or may not also ask you to acknowledge your acceptance of the User
            Agreement through an electronic click-through. This User Agreement may not otherwise be amended except
            through
            mutual agreement in writing by you and a Healthcare Auctions representative who intends to amend this User
            Agreement and is duly authorized to agree to such an amendment.</p>
        <p>Without limiting Healthcare Auctions' ability to refuse, modify, or terminate all or part of our Services,
            Healthcare Auctions may also terminate this Agreement with anyone at any time for any reason, at our sole
            discretion, by giving notice of such termination.</p>

        <p>If you create or use an account on behalf of a business entity, you represent that you are authorized to act
            on
            behalf of such business and bind the business to this User Agreement. Such account is owned and controlled
            by
            the business entity. No agency, partnership, joint venture, employee-employer, or franchiser-franchisee
            relationship is intended or created by this User Agreement.</p>

        <p>The User Agreement and all terms and policies posted through our Services set forth the entire understanding
            and
            agreement between you and Healthcare Auctions, and supersede all prior understandings and agreements of the
            parties.</p>
        <p>If you are a California resident, in accordance with Cal. Civ. Code §1789.3, you may report complaints to the
            Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer
            Affairs
            by contacting them in writing at 400 R Street, Sacramento, CA 95814, or by telephone at (800) 952-5210.</p>
    </div>
{% endblock %}