{% extends 'new_base.html' %}

{% block body %}
    <div class="container mt-5" style="min-height:80vh">
        <h2 class="mb-4">Your Cart</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart.items.all %}
                    <tr>
                        <td>
                            <a style="color: #000" href="{% url 'active_auctions_with_id' auction_id=item.auction.id %}">
                                {{ item.auction.title }}
                            </a>
                        </td>
                        <td>{{ item.auction.quantity_available }}</td>
                        <td>${{ item.auction.buyItNowPrice }}</td>
                        <td>
                            <form method="post" action="{% url 'remove_from_cart' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-4 d-flex justify-content-end">
            <h4>Total: ${{ cart.total_cost }}</h4>
            {#            <a href="{% url 'checkout' %}" class="btn btn-success">Proceed to Checkout</a>#}
        </div>
    </div>
{% endblock %}