.auction_image_third {
    height: 250px;
    width: 250px;
    object-fit: cover;
    /*pointer-events: none;*/
    border-radius: 8px;
    margin: 15px 0 15px 10px;
}


.auction_image_first:hover {

}

.auction-card {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    flex: 1;
    text-decoration: none !important;
    color: #333333;
    border: none !important;
    text-decoration: none;
}

.auction-card:hover > .listing {
    color: #333333;
    /*border: 1px solid #86B7FE;*/
}

.auctions-header-container {
    display: grid;
    grid-template-columns: 1fr;

}

#auction-filter-form {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
}

#time-filter,
#sort-by,
#mfg-filter {
    /*width: 200px;*/
}

#mfg-filter .button-text,
#splty-filter .button-text {
    flex: 1 1 auto;
    min-width: 0;
    margin-right: 10px; /* Add space between text and caret icon */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.listing {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 300px);
    align-items: center;
    border-top: 1px solid #cccccc;
    position: relative;
    justify-content: center;
}

.listing:hover {
    color: #333333;
    /*border: 1px solid #86B7FE;*/
    text-decoration: none;
}

.listing:hover > .auction-card > .card-body {
    color: #333333;
}

.auction-title {
    font-size: 2rem;
    /*font-weight: 300;*/
    width: 100%; /* Adjust the width as needed */
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.display-8 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
}

.bid-form {
    width: 200px;
    position: absolute;
    right: 0;
}

.two-grid-auto-columns {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    gap: 10px;
    font-family: Montserrat, sans-serif;
    align-items: center;
}

.time-remaining {
    color: #C12947;
}

.form-group.with-symbol,
.form-group.with-symbol-modal {
    position: relative;
}


.form-group.with-symbol::before,
.form-group.with-symbol-modal::before {
    content: "$";
    position: absolute;
    left: 10px; /* Adjust based on your design */
    top: 19px;
    transform: translateY(-50%);
    font-size: 16px; /* Adjust based on your design */
    color: #555; /* Adjust based on your design */
}


.Sale {
    background: #f8f8f8;
}


.form-group.with-symbol input,
.form-group.with-symbol-modal input {
    padding-left: 25px; /* Adjust based on your design */
}

/*.additional-images {*/
/*    display: grid;*/
/*    gap: 20px;*/
/*    grid-template-columns: repeat(auto-fit, 185px);*/
/*}*/


/*img.img-thumbnail {*/
/*    width: 185px;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/

.additional-details {
    overflow-x: auto;
}

.auction-price {
    color: #8DC848;
}

.auction-price div {
    color: #0A78B8;
}

/*.thumb-img {*/
/*    min-width: 185px;*/
/*}*/

.active-auctions-container {
    display: grid;
    grid-template-columns: 250px 1fr;
}


.filter-group {
    position: relative;
}

.filter-list {
    list-style-type: none;
    padding: 0 10px 0;
    margin: 0;

    z-index: 1000;
    background: #fff;
    /*border: 1px solid #ccc;*/
    width: 100%;
}

.filter-list li {
    text-decoration: none !important;
    padding: 8px;
    cursor: pointer;
}

.filter-list li a {
    text-decoration: none;
    color: black;
}

.filter-list li:hover {
    background-color: #f0f0f0;
}

.form-group > .dropdown {
    width: 215px;
}

.form-group > .dropdown > button {
    width: 100%;
}

#filter-container {
    border-top: 1px solid #cccccc;
}

/*.filter-group:hover .filter-list {*/
/*    display: block; !* Show the list on hover *!*/
/*}*/


@media (max-width: 767.98px) {
    /* Hide the card body initially when collapsed */
    .card.collapsed .card-body {
        display: none;
    }

    /* Style the card header to indicate it's clickable */
    .card-header {
        cursor: pointer;
        user-select: none;
    }

    /* Optional: Add an icon to indicate collapsibility */
    .card-header::after {
        content: '\f078'; /* FontAwesome down arrow */
        font-family: 'FontAwesome';
        float: right;
        transition: transform 0.3s ease;
    }

    .card.collapsed .card-header::after {
        transform: rotate(-90deg); /* Rotate the icon to indicate collapsed state */
    }


    .auction-card {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr;
    }

    .listing {
        grid-template-columns: 1fr;
    }

    .auction-title {
        max-width: 350px;
        white-space: unset;
    }

    #auction-attributes {
        display: grid !important;
        grid-template-columns: auto auto;
    }

    .additional-images {
        /*grid-template-columns: 1fr;*/
    }

    .icon {
        display: none;
    }

    .bid-form {
        position: relative;
        margin-left: 15px;
    }

    .active-auctions-container {
        grid-template-columns: 1fr;
    }

    .auctions-header-container {
        grid-template-columns: 1fr;
    }

    #filter-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #filter-container > .d-md-block.filters.collapse.show,
    #filter-container > .d-md-block.filters.collapse {
        align-self: center;
    }

    #filter-form, #auction-filter-form {
        flex-direction: column;
    }

    .product-detail-form {
        grid-template-columns: 1fr;
    }

    input[name="quantity"] {
        padding: 17px 10px;
    }

}

@media (min-width: 576px) {
    .auction-title {
        max-width: 460px;
        /*white-space: unset;*/
    }
}

@media (min-width: 768px) {
    .auction-title {
        max-width: 400px;
        /*white-space: unset;*/
    }
}

@media (max-width: 992px) {
    .listing {
        grid-template-columns: 1fr;
    }

    .auctions-header-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 992px) {
    .auction-title {
        max-width: 335px;
    }
}

@media (min-width: 1200px) {
    .auction-title {
        max-width: 400px;
    }
}

@media (min-width: 1400px) {
    .auction-title {
        max-width: 450px;
    }
}

.medium-zoom-overlay {
    z-index: 1051; /* Ensure this is higher than your Bootstrap modal z-index */
}

.medium-zoom-image--opened {
    z-index: 1052; /* Ensure this is higher than your Bootstrap modal z-index */
}

.modal-footer {
    position: relative;
}

.modal-footer form {
    position: absolute;
    bottom: 90px;
}

/* Image gallery container */
.image-gallery {
    display: flex;
    align-items: flex-start;
}

/* Thumbnail column */
.thumbnail-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    max-width: 100px; /* Adjust as needed */
}

.thumbnail-column .thumbnail {
    margin-bottom: 10px;
    cursor: pointer;
}

.thumbnail-column .thumbnail img {
    width: 100%;
    max-height: 100px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.thumbnail-column .thumbnail img:hover {
    border-color: #007bff; /* Highlight on hover */
}

/* Main image display */
.main-image-display {
    flex: 1;
}

.main-image-display img {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    max-height: 400px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit: cover;
}

@media (max-width: 768px) {
    /* Adjust layout for smaller screens */
    .image-gallery {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .col-md-6.col-sm-6.col-xs-3.pe-4 {
        padding: 20px;
    }

    .thumbnail-column {
        flex-direction: row;
        margin-bottom: 10px;
        max-width: 100%;
        overflow-x: auto;
    }

    .thumbnail-column .thumbnail {
        margin-right: 10px;
    }
}









