.nav-link.active > .card.text-center > .card-header {
    background-color: #31D2F2;

}

.dash-img {
    width: 150px;
    height: auto;
}

/* Basic hover effect for the button */
.tab-nav {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover state */
.tab-nav:hover {
    /*background-color: #e0e0e0; !* A slightly darker grey to catch attention *!*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transform: scale(1.02); /* Slight zoom effect */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-link.sub-nav.active{
    border-top: 1px solid #cccccc !important;
    border-left: 1px solid #cccccc !important;
    border-right: 1px solid #cccccc !important;
}