.import-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.step-icon {
    color: #FFFFFF;
    font-size: 48px;
}

.step-text {
    color: #FFFFFF;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    #import-column {
        padding: 20px;
    }

}

#import-column {
    background: #1989d3;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 20px 5%;
    border-radius: 8px;
}


.records-container {
    display: none;
}

#bad-records-container,
#good-records-container {
    display: none;
}